<a href="javascript:void(0)" *ngIf="!isList;" (click)="isList=true;reset()">List</a>
<!-- <a href="javascript:void(0)" *ngIf="isList && authService.UserInfo.Menu.CanCreate"
    (click)="isList=false;reset();get()">New</a> -->
<div *ngIf="isList">
    <div class="row">
        <div class="col-lg-4">
            Show
            <select style="width: 50px;height: 32px;" [(ngModel)]="pageSize" (change)="search()">
                <option *ngFor="let item of listPageSize" value={{item}}>
                    {{item}}
                </option>
            </select>
            records
        </div>
        <div class="col-lg-4">
            <h4 class="text-center">Company Information</h4>
        </div>
    </div>
    <table class="table table-bordered">
        <tr class="table-secondary">
            <th scope="col">Company Code</th>
            <th>Company Name</th>
            <th>Description</th>
            <th>#</th>
        </tr>
        <tr *ngFor="let item of listCompany">
            <td>{{item.CompanyCode}}</td>
            <td>{{item.CompanyName}}</td>
            <td>{{item.Description}}</td>
            <td><button class="btn btn-sm btn-outline-primary" (click)="edit(item)"
                    *ngIf="authService.UserInfo.Menu.CanEdit">Edit</button></td>
        </tr>
    </table>
    
</div>
<div *ngIf="!isList">
    <h4 class="text-center">Company Entry Form</h4>
    <div class="row g-3">
        <div class="col-md-4">
            <label class="form-label" for="CompanyName">Company Name:</label>
            <input type="text" id="CompanyName" [(ngModel)]="Company.CompanyName" class="form-control" />
        </div>
        <div class="col-md-4">
            <label class="form-label" for="Short">Number of Bay:</label>
            <input type="text" id="Short" [(ngModel)]="Company.Bay" class="form-control" />
        </div>
        <div class="col-md-4">
            <label class="form-label" for="Short">VAT:</label>
            <input type="text" id="Short" [(ngModel)]="Company.Vat" class="form-control" />
        </div>
        <div class="col-md-4">
            <label class="form-label" for="Short">Date Format:</label>
            <input type="text" id="Short" [(ngModel)]="Company.DateFormat" class="form-control" />
        </div>
        <div class="col-md-4">
            <label class="form-label" for="Short">DecimalPlace:</label>
            <input type="text" id="Short" [(ngModel)]="Company.DecimalPlace" class="form-control" />
        </div>
        <div class="col-md-4">
            <label class="form-label" for="Short">Phone:</label>
            <input type="text" id="Short" [(ngModel)]="Company.Phone" class="form-control" />
        </div>
        <div class="col-md-4">
            <label class="form-label" for="Short">Email:</label>
            <input type="text" id="Short" [(ngModel)]="Company.Email" class="form-control" />
        </div>
        <div class="col-md-4">
            <label class="form-label" for="Website">Website</label>
            <input type="text" id="Website" [(ngModel)]="Company.Website" class="form-control" placeholder="Website" />
        </div>
        <div class="col-md-12">
            <label class="form-label" for="Address">Address</label>
            <input type="text" id="Address" [(ngModel)]="Company.Address" class="form-control" placeholder="Address" />
        </div>
        <div class="col-md-12">
            <label class="form-label" for="Description">Description</label>
            <input type="text" id="Description" [(ngModel)]="Company.Description" class="form-control" placeholder="Description" />
        </div>
        <div class="col-md-12 mt-5">
            <button type="button" class="btn btn-success"
                *ngIf="Company.CompanyId>0 && authService.UserInfo.Menu.CanEdit"
                (click)="update();">update</button>
        </div>
    </div>
</div>

<div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-primary">Are you sure to remove?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-danger">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal"
                    (click)="reset();">No</button>/
                <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal"
                    (click)="remove(Company)">Yes</button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
