<a href="javascript:void(0)" *ngIf="!isList && authService.UserInfo.Menu.CanView" (click)="switchView('list')">List</a>
<a href="javascript:void(0)" *ngIf="isList && authService.UserInfo.Menu.CanCreate" (click)="switchView('form')">New</a>

<div *ngIf="isList">
    <!-- Start Select Page size Section -->
    <div class="row">
        <div class="col-lg-4">
            Show
            <select style="width: 50px;height: 32px;" [(ngModel)]="pageSize" (change)="changePageSize()">
                <option *ngFor="let item of listPageSize" value={{item}}>
                    {{item}}
                </option>
            </select>
            records
        </div>
        <div class="col-lg-4">
            <h4>List of Job</h4>
        </div>
        <div class="col-lg-4">
            <table>
                <tr>
                    <td>Job-Group: </td>
                    <td>
                        <select id="JobGroupId" [(ngModel)]="jobGroupId" (change)="search()" style="width: 188px;">
                            <option *ngFor="let item of listJobGroup" value="{{item.GroupId}}">{{item.Name}}
                            </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Description: </td>
                    <td>
                        <input type="text" [(ngModel)]="jobDescription" placeholder="Description" />
                        <button type="button" (click)="search()"><i class="fa fa-search"></i></button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <!-- End Select Page Size Section -->

    <table class="table table-bordered">
        <tr class="table-secondary">
            <!-- <th>Job ID</th> -->
            <th>Description</th>
            <th>Job Group Name</th>
            <th>A</th>
            <th>B</th>
            <th>C</th>
            <th>Duration(A)</th>
            <th>Duration(B)</th>
            <th>Duration(C)</th>
            <th colspan="2">Action</th>
        </tr>
        <tr *ngFor="let item of listJobs">
            <!-- <td>{{item.JobId}}</td> -->
            <td>{{item.Description}}</td>
            <td>{{item.JobGroupName}}</td>
            <td>{{item.A}}</td>
            <td>{{item.B}}</td>
            <td>{{item.C}}</td>
            <td>{{item.DurationA}}</td>
            <td>{{item.DurationB}}</td>
            <td>{{item.DurationC}}</td>
            <td><button class="btn btn-sm btn-outline-primary" (click)="editJob(item)" *ngIf="authService.UserInfo.Menu.CanEdit">Edit</button></td>
            <td><button class="btn btn-sm btn-outline-danger" (click)="Job=item" data-bs-toggle="modal"
                    data-bs-target="#confirmModal" *ngIf="authService.UserInfo.Menu.CanDelete">Remove</button></td>
        </tr>
    </table>
    <!-- Start Pagination  -->
    <div class="row" *ngIf="listJobGroup.length>0">
        <div class="col-lg-3">
            <div class="pull-left ">
                <span class="well well-sm">Showing <span class="text-success"><b>{{pageStart}}</b></span> to <span
                        class="text-success"><b>{{pageEnd}}</b></span> of <span
                        class="text-success"><b>{{rowCount}}</b></span> records</span>
            </div>
        </div>
        <div class="col-lg-9">
            <div class="table-responsive">
                <ul class="pagination" *ngIf="pager.pages && pager.pages.length">
                    <li>
                        <a class="btn btn-sm btn-outline-secondary" [ngClass]="{disabled:pageIndex == 0}"
                            href="javascript:void(0);" (click)="changePageNumber(0)"><i class="fa fa-angle-double-left"
                                aria-hidden="true"></i>Start</a>
                    </li>
                    <li>
                        <a class="btn btn-sm btn-outline-info" [ngClass]="{disabled:pageIndex == 0}"
                            href="javascript:void(0);" (click)="changePageNumber(pageIndex - 1)"><i
                                class="fa fa-angle-left" aria-hidden="true"></i>Previous</a>
                    </li>
                    <li *ngFor="let page of pager.pages">
                        <a class="btn btn-sm btn-outline-secondary" [ngClass]="{active:pageIndex == (page - 1)}"
                            href="javascript:void(0);" (click)="changePageNumber(page - 1)">{{page}}</a>
                    </li>
                    <li>
                        <a class="btn btn-sm btn-outline-info"
                            [ngClass]="{disabled:pageIndex == (pager.totalPages - 1)}" href="javascript:void(0);"
                            (click)="changePageNumber(pageIndex + 1)"><i class="fa fa-angle-right"
                                aria-hidden="true"></i>Next</a>
                    </li>
                    <li>
                        <a class="btn btn-sm btn-outline-secondary"
                            [ngClass]="{disabled:pageIndex == (pager.totalPages - 1)}" href="javascript:void(0);"
                            (click)="changePageNumber(pager.totalPages - 1)"><i class="fa fa-angle-double-right"
                                aria-hidden="true"></i>End</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- End Pagination -->
</div>
<!-- This part for Engine size entry -->
<div *ngIf="!isList">
    <div class="col-md 12">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <h5>Job Entry Form</h5>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-floating mb-2">
                            <input type="text" [(ngModel)]="Job.Description" class="form-control" id="Description"
                                placeholder="">
                            <label for="Description">Job Description</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-2">
                            <select id="JobGroupId" class="form-control" [(ngModel)]="Job.JobGroupId">
                                <option *ngFor="let item of listJobGroup" value="{{item.GroupId}}">{{item.Name}}
                                </option>
                            </select>
                            <label for="JobGroupId">Job Group:</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-floating mb-2">
                            <input type="text" [(ngModel)]="Job.A" class="form-control" id="JobA" placeholder="">
                            <label for="JobA">A (800-1500)</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-floating mb-2">
                            <input type="text" [(ngModel)]="Job.B" class="form-control" id="JobB" placeholder="">
                            <label for="JobB">B (1501-2500)</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-floating mb-2">
                            <input type="text" [(ngModel)]="Job.C" class="form-control" id="JobC" placeholder="">
                            <label for="JobC">C (2501-4500)</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-floating mb-2">
                            <input type="text" [(ngModel)]="Job.DurationA" class="form-control" id="DurationA"
                                placeholder="">
                            <label for="DurationA">Duration (A)</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-floating mb-2">
                            <input type="text" [(ngModel)]="Job.DurationB" class="form-control" id="DurationB"
                                placeholder="">
                            <label for="DurationB">Duration (B)</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-floating mb-2">
                            <input type="text" [(ngModel)]="Job.DurationC" class="form-control" id="DurationC"
                                placeholder="">
                            <label for="DurationC">Duration (C)</label>
                        </div>
                    </div>
                    <div class="col-auto  mb-2">
                        <button type="button" class="btn btn-success mb-3" *ngIf="Job.JobId==0 && authService.UserInfo.Menu.CanCreate" (click)="addJob()">Add
                            Job</button>
                        <button type="button" class="btn btn-success mb-3" *ngIf="Job.JobId>0 && authService.UserInfo.Menu.CanEdit"
                            (click)="updateJob()">Update Job</button>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>

<div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-primary">Are you sure to remove?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-danger">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal"
                    (click)="reset();">No</button>/
                <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal"
                    (click)="removeJob(Job)">Yes</button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>