<h4 class="text-center">Store Requistion</h4>
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Spare Parts</label>
    <select class="form-select" aria-label="Default select example">
        <option selected>Select a spare-parts</option>
        <option value="1">P001</option>
        <option value="2">P059</option>
        <option value="3">P035</option>
      </select>
  </div>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Supplier</label>
    <select class="form-select" aria-label="Default select example">
        <option selected>Select a supplier</option>
        <option value="1">Nissan</option>
        <option value="2">Toyota</option>
      </select>
  </div>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Qunatity</label>
    <input type="number" class="form-control" id="exampleFormControlInput1">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Purchase Price</label>
    <input type="number" class="form-control" id="exampleFormControlInput1">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Selling Price</label>
    <input type="number" class="form-control" id="exampleFormControlInput1">
  </div>
  <div class="mb-3">
    <button type="button" class="btn btn-success">Submit</button>
  </div>
