<!-- src/app/login/login.component.html -->
<div class="row g-3 p-2">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <!-- <h4 class="text-center text-uppercase">Login</h4> -->
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="UserName" [(ngModel)]="User.UserName" placeholder="user-name">
            <label for="UserName">User-name</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="UserPass" [(ngModel)]="User.UserPass" placeholder="pass-word">
            <label for="UserPass">Pass-word</label>
        </div>
        <br/>
        <button (click)="login()" class="btn btn-success">LOG IN</button>
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-12">
        <img src="assets/img/armotors_banner.jpg" class="img-fluid" />
    </div>
</div>