<a href="javascript:void(0)" *ngIf="!isList;" (click)="isList=true;reset()">Go to List</a>
<a href="javascript:void(0)" *ngIf="isList && authService.UserInfo.Menu.CanCreate" (click)="isList=false;reset();get()">Go to Entry</a>
<div *ngIf="isList">
  <h4 class="text-center">List of Client</h4>
  <table class="table table-bordered">
    <tr class="table-secondary">
        <th scope="col">#</th>
        <th>Name</th>
        <th>Phone</th>
        <th>Address</th>
        <th>#</th>
        <th>#</th>
    </tr>
    <tr *ngFor="let item of listClient; let i = index">
        <td>{{i+1}}</td>
        <td>{{item.Name}}</td>
        <td>{{item.Phone}}</td>
        <td>{{item.Address}}</td>
        <td><button class="btn btn-sm btn-outline-primary" (click)="edit(item)" *ngIf="authService.UserInfo.Menu.CanEdit" >Edit</button></td>
        <td>
          <button class="btn btn-sm btn-outline-danger" (click)="Client=item" data-bs-toggle="modal" data-bs-target="#confirmModal"  *ngIf="authService.UserInfo.Menu.CanDelete" (click)="add();">Remove</button>
        </td>
    </tr>
  </table>
</div>
<div *ngIf="!isList">
  <h4 class="text-center">Client Entry</h4>
  <div class="row g-3">
    <div class="col-md-4">
        <label class="form-label" for="clientName">Client Name:</label>
        <input type="text" id="clientName" [(ngModel)]="Client.Name" class="form-control" />
    </div>
    <div class="col-md-4">
      <label class="form-label" for="MembershipId">Membership Card Number:</label>
      <input type="text" id="MembershipId" [(ngModel)]="Client.MembershipId" class="form-control" />
    </div>
    <div class="col-md-4">
      <label class="form-label" for="Phone">Phone:</label>
      <input type="text" id="Phone" [(ngModel)]="Client.Phone"  class="form-control" />
    </div>
    <div class="col-md-4">
      <label class="form-label" for="Email">Email:</label>
      <input type="text" id="Email" [(ngModel)]="Client.Email"  class="form-control" />
    </div>
    <div class="col-md-12">
      <label class="form-label" for="Address">Address:</label>
        <input type="text" id="Address" [(ngModel)]="Client.Address" class="form-control " />
    </div>
    <div class="col-md-12 mt-5">
      <button type="button" class="btn btn-success" *ngIf="Client.BpId==0 && authService.UserInfo.Menu.CanCreate" (click)="add();">Add</button>
      <button type="button" class="btn btn-success" *ngIf="Client.BpId>0 && authService.UserInfo.Menu.CanEdit" (click)="update();">update</button>
    </div>
  </div>
</div>

<div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
      <div class="modal-content">
      <div class="modal-header">
          <h5 class="modal-title text-primary">Are you sure to remove?</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-danger">
          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" (click)="reset();">No</button>/
          <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal" (click)="remove(Client)">Yes</button>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Close</button>
      </div>
      </div>
  </div>
</div>