<a href="javascript:void(0)" *ngIf="!isList;" (click)="isList=true;reset()">List</a>
<a href="javascript:void(0)" *ngIf="isList && authService.UserInfo.Menu.CanCreate" (click)="isList=false;reset();get()">New</a>
<div *ngIf="isList">
  <div class="row">
    <div class="col-lg-4">
        Show
        <select style="width: 50px;height: 32px;" [(ngModel)]="pageSize" (change)="search()">
            <option *ngFor="let item of listPageSize" value={{item}}>
                {{item}}
            </option>
        </select> 
        records
    </div>
    <div class="col-lg-4">
      <h4 class="text-center">List of Client</h4>
    </div>
    <div class="col-lg-4">
        <table>
            <tr>
                <td>Phone: </td>
                <td>
                    <input type="text" [(ngModel)]="phone" placeholder="mobile" />
                    <button type="button" (click)="search()"><i class="fa fa-search"></i></button>
                </td>
            </tr>
        </table>
    </div>
</div>
  <table class="table table-bordered">
    <tr class="table-secondary">
        <th scope="col">#</th>
        <th>Name</th>
        <th>Phone</th>
        <th>Address</th>
        <th>#</th>
        <th>#</th>
    </tr>
    <tr *ngFor="let item of listClient; let i = index">
        <td>{{i+1}}</td>
        <td>{{item.Name}}</td>
        <td>{{item.Phone}}</td>
        <td>{{item.Address}}</td>
        <td><button class="btn btn-sm btn-outline-primary" (click)="edit(item)" *ngIf="authService.UserInfo.Menu.CanEdit" >Edit</button></td>
        <td>
          <button class="btn btn-sm btn-outline-danger" (click)="Client=item" data-bs-toggle="modal" data-bs-target="#confirmModal"  *ngIf="authService.UserInfo.Menu.CanDelete">Remove</button>
        </td>
    </tr>
  </table>
</div>
<div *ngIf="!isList">
  <h4 class="text-center">Client Entry</h4>
  <div class="row g-3">
    <div class="col-md-4">
        <label class="form-label" for="clientName">Client Name:</label>
        <input type="text" id="clientName" [(ngModel)]="Client.Name" class="form-control" />
    </div>
    <div class="col-md-4">
      <label class="form-label" for="MembershipNo">Membership Card Number:</label>
      <input type="text" id="MembershipNo" [(ngModel)]="Client.MembershipNo" class="form-control" />
    </div>
    <div class="col-md-4">
      <label class="form-label" for="Phone">Phone:</label>
      <input type="text" id="Phone" [(ngModel)]="Client.Phone"  class="form-control" />
    </div>
    <div class="col-md-4">
      <label class="form-label" for="Email">Email:</label>
      <input type="email" id="Email" [(ngModel)]="Client.Email"  class="form-control" />
    </div>
    <div class="col-md-12">
      <label class="form-label" for="Address">Address:</label>
        <input type="text" id="Address" [(ngModel)]="Client.Address" class="form-control " />
    </div>
    <div class="col-md-4">
      <label class="form-label" for="ContactPerson">Contact Person:</label>
      <input type="text" id="ContactPerson" [(ngModel)]="Client.ContactPerson"  class="form-control" />
    </div>
    <div class="col-md-4">
      <label class="form-label" for="ContactPersonNo">Contact Person Phone:</label>
      <input type="text" id="ContactPersonNo" [(ngModel)]="Client.ContactPersonNo"  class="form-control" />
    </div>
    <div class="col-md-12">
      <label class="form-label" for="ClientInfo">Remarks:</label>
        <input type="text" id="ClientInfo" [(ngModel)]="Client.ClientInfo" class="form-control " />
    </div>
    <div class="col-md-12 mt-5">
      <button type="button" class="btn btn-success" *ngIf="Client.BpId==0 && authService.UserInfo.Menu.CanCreate" (click)="add();">Add</button>
      <button type="button" class="btn btn-success" *ngIf="Client.BpId>0 && authService.UserInfo.Menu.CanEdit" (click)="update();">update</button>
    </div>
  </div>
</div>

<div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
      <div class="modal-content">
      <div class="modal-header">
          <h5 class="modal-title text-primary">Are you sure to remove?</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-danger">
          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" (click)="reset();">No</button>/
          <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal" (click)="remove(Client)">Yes</button>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Close</button>
      </div>
      </div>
  </div>
</div>