<a href="javascript:void(0)" *ngIf="!isList" (click)="switchView('list')">List</a>
<a href="javascript:void(0)" *ngIf="isList && authService.UserInfo.Menu.CanCreate" (click)="switchView('form')">New</a>

<div *ngIf="isList">
  <div class="row">
    <div class="col-lg-4">
      Show
      <select style="width: 50px;height: 32px;" [(ngModel)]="pageSize" (change)="changePageSize()">
          <option *ngFor="let item of listPageSize" value={{item}}>
              {{item}}
          </option>
      </select> 
      records
    </div>
    <div class="col-lg-4">
      <h4 class="text-center">List of Job Card</h4>
    </div>
    <div class="col-lg-4">
      <label for="jcStatus" class="form-label">JC Status:</label>
      <select id="jcStatus" [(ngModel)]="jcStatus" (change)="get();">
        <option *ngFor="let item of listJcStatusFitler" value="{{item.Id}}">{{item.Name}}</option>
      </select>
    </div>
  </div>
  <table class="table table-bordered">
    <tr class="table-secondary">
        <th>#</th>
        <th scope="col">SL No.</th>
        <th>Job Card No.</th>
        <th>Vehicle Reg.</th>
        <th>Bay</th>
        <th>Date</th>
        <th>Estimated Cost</th>
        <th>Payment</th>
        <th>Status</th>
        <th>#</th>
    </tr>
    <tr *ngFor="let item of listJobCard; let i = index">
        <td><a href="javascript:void(0)" (click)="openWin(item)">Print View</a></td>
        <td>{{i+1}}</td>
        <td>{{item.JcNo}}</td>
        <td>{{item.VehicleNo}}</td>
        <td>{{item.Bay}}</td>
        <td>{{item.ReceiveDate | date:'dd-MMM-yy HH:mm a'}}</td>
        <td>{{item.EstiCostTotal}}</td>
        <td>{{item.IsPaid == true ? 'Paid' : 'Due'}}</td>
        <td>{{item.JcStatus==1?'Close':'Open'}}</td>
        <td><button class="btn btn-sm btn-primary" (click)="edit(item)" *ngIf="authService.UserInfo.Menu.CanEdit">Edit</button></td>
    </tr>
  </table>
  <div class="row" *ngIf="listJobCard.length>0">
    <div class="col-lg-12 ">
        <div class="pull-left ">
            <span class="well well-sm">Showing  <span class="text-success"><b>{{pageStart}}</b></span> to <span class="text-success"><b>{{pageEnd}}</b></span> of <span class="text-success"><b>{{rowCount}}</b></span> records</span>
        </div>
        <div class="pull-right">
            <ul class="pagination" *ngIf="pager.pages && pager.pages.length">
                <li>
                    <a class="btn btn-sm btn-outline-secondary" [ngClass]="{disabled:pageIndex == 0}" href="javascript:void(0);" (click)="changePageNumber(0)"><i class="fa fa-angle-double-left" aria-hidden="true"></i>Start</a>
                </li>
                <li>
                    <a class="btn btn-sm btn-outline-info" [ngClass]="{disabled:pageIndex == 0}" href="javascript:void(0);" (click)="changePageNumber(pageIndex - 1)"><i class="fa fa-angle-left" aria-hidden="true"></i>Previous</a>
                </li>
                <li *ngFor="let page of pager.pages">
                    <a class="btn btn-sm btn-outline-secondary" [ngClass]="{active:pageIndex == (page - 1)}" href="javascript:void(0);" (click)="changePageNumber(page - 1)">{{page}}</a>
                </li>
                <li>
                    <a class="btn btn-sm btn-outline-info" [ngClass]="{disabled:pageIndex == (pager.totalPages - 1)}" href="javascript:void(0);" (click)="changePageNumber(pageIndex + 1)"><i class="fa fa-angle-right" aria-hidden="true"></i>Next</a>
                </li>
                <li>
                    <a class="btn btn-sm btn-outline-secondary" [ngClass]="{disabled:pageIndex == (pager.totalPages - 1)}" href="javascript:void(0);" (click)="changePageNumber(pager.totalPages - 1)"><i class="fa fa-angle-double-right" aria-hidden="true"></i>End</a>
                </li>
            </ul>
        </div>
    </div>
  </div>
</div>

<div *ngIf="!isList">
  <h4 class="text-center">Entry of Job Card</h4>
  <div class="accordion" id="accordionExample">

    <div class="accordion-item">
      <h2 class="accordion-header" id="heading1">
        <button class="accordion-button fw-bold text-primary collapsedgit" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
          <i class="fa fa-user"></i>&nbsp;Client Information
        </button>
      </h2>
      <div id="collapse1" class="accordion-collapse collapse show" aria-labelledby="heading1" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <div class="row g-3">
            <div class="col-md-4">
              <label class="form-label" for="ClientName">
                Client Name:
                <a href="javascript:void()" data-bs-toggle="modal" data-bs-target="#searchClientModal">Search</a>  
              </label>
              <input type="text" id="ClientName" [(ngModel)]="JobCard.ClientName" placeholder="Client Name" class="form-control" />
            </div>
            <div class="col-md-4">
              <label class="form-label" for="MembershipId">Membership Card Number:</label>
              <input type="text" id="MembershipId" [(ngModel)]="JobCard.MembershipNo" placeholder="Membership Card Number" class="form-control" />
            </div>
            <div class="col-md-4">
              <label class="form-label">Phone:</label>
              <input type="text" id="Phone" [(ngModel)]="JobCard.ClientPhone" placeholder="Phone"  class="form-control" />
            </div>
            <div class="col-md-4">
              <label class="form-label">Email:</label>
              <input type="text" id="Email" [(ngModel)]="JobCard.ClientEmail" placeholder="Email"  class="form-control" />
            </div>
            <div class="col-md-4">
              <label class="form-label">Contact Person:</label>
              <input type="text" id="ContactPerson" [(ngModel)]="JobCard.ContactPerson"  placeholder="Contact Person" class="form-control" />
            </div>
            <div class="col-md-4">
              <label class="form-label">Contact Person No:</label>
              <input type="text" id="ContactPersonNo" [(ngModel)]="JobCard.ContactPersonNo" placeholder="Contact Person No" class="form-control" />
            </div>
            <div class="col-md-12">
              <label class="form-label">Address:</label>
                <input type="text" id="Address" [(ngModel)]="JobCard.ClientAddress" class="form-control " />
            </div>
            <div class="col-12">
              <label class="form-label" for="Description">Description:</label>
              <textarea id="Description" [(ngModel)]="JobCard.Description" class="form-control "></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="heading2">
        <button class="accordion-button fw-bold text-primary collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="true" aria-controls="collapse2">
          <i class="fa fa-car"></i>&nbsp;Vehicle Information
        </button>
      </h2>
      <div id="collapse2" class="accordion-collapse collapse" aria-labelledby="heading2" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <div class="row g-3">
            <div class="col-md-4">
              <label for="JcNo" class="form-label">Job Card No.:</label>
              <input type="text" id="JcNo" [(ngModel)]="JobCard.JcNo" class="form-control" readonly />
            </div>
            <div class="col-md-4">
              <label for="VehicleNo" class="form-label">
                Vehicle No.: 
                <a href="javascript:void()" data-bs-toggle="modal" data-bs-target="#searchVehicleNoModal" (click)="getVehicleByClient()">Search</a>  
              </label>
              <input type="text" id="VehicleNo" [(ngModel)]="JobCard.VehicleNo" class="form-control" placeholder="example: DM-GA-11-1632" />
            </div>
            <div class="col-md-4">
              <label for="Model" class="form-label">Model:</label>
              <input type="text" id="Model" [(ngModel)]="JobCard.Model" class="form-control" placeholder="model number" />
            </div>
            <div class="col-md-4">
              <label for="Vin" class="form-label" title="">VIN/Frame:</label>
              <input type="text" id="Vin" [(ngModel)]="JobCard.Vin" class="form-control" placeholder="vin or frame number" />
            </div>
            <div class="col-md-4">
              <label for="Mileage" class="form-label" title="">Milage(KM):</label>
              <input type="number" id="Mileage" [(ngModel)]="JobCard.Mileage" class="form-control" placeholder="milage in KM"  style="text-align: right;" />
            </div>
            <div class="col-md-4">
              <label for="ReceiveDate" class="form-label" title="">Receive Date:</label>
              <input type="datetime-local" id="ReceiveDate" [(ngModel)]="JobCard.ReceiveDate" class="form-control" placeholder="Receive Date" />
            </div>
            <div class="col-md-4">
              <label for="ReceiveBy" class="form-label">Receive By:</label>
              <select id="ReceiveBy" class="form-control" [(ngModel)]="JobCard.ReceiveBy">
                <option *ngFor="let item of listReceiveBy" value="{{item.EmployeeId}}">{{item.FullName}}</option>
              </select>
            </div>
            <div class="col-md-4">
              <label for="Bay" class="form-label">Bay:</label>
              <select id="Bay" class="form-control" [(ngModel)]="JobCard.Bay">
                <option *ngFor="let item of listBay" value="{{item}}">{{item}}</option>
              </select>
            </div>
            <div class="col-md-4">
              <label for="JcStatus" class="form-label">JC Status:</label>
              <select id="JcStatus" class="form-control" [(ngModel)]="JobCard.JcStatus">
                <option *ngFor="let item of listJcStatus" value="{{item.Id}}">{{item.Name}}</option>
              </select>
            </div>
            <div class="col-md-4">
              <label for="EstiCostJob" class="form-label" title="">Estimated Cost of Jobs</label>
              <input type="text" id="EstiCostJob" [(ngModel)]="JobCard.EstiCostJob" class="form-control" placeholder="Cost of jobs" readonly style="text-align: right;" />
            </div>
            <div class="col-md-4">
              <label for="EstiCostSpare" class="form-label" title="">Estimated Cost of Spare</label>
              <input type="text" id="EstiCostSpare" [(ngModel)]="JobCard.EstiCostSpare" class="form-control" placeholder="Cost of spare" readonly style="text-align: right;" />
            </div>
            <div class="col-md-4">
              <label for="EstiCostTotal" class="form-label" title="">Total Estimated Cost</label>
              <input type="text" id="EstiCostTotal" [(ngModel)]="JobCard.EstiCostTotal" class="form-control" placeholder="total estimated cost" readonly style="text-align: right;" />
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="accordion-item">
      <h2 class="accordion-header" id="heading3">
        <button class="accordion-button fw-bold text-primary collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
          <i class="fa fa-ambulance"></i>&nbsp;Job Details
        </button>
      </h2>
      <div id="collapse3" class="accordion-collapse collapse" aria-labelledby="heading3" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <div class="row g-3">
            <div class="col-md-4">
              <label for="JobGroupId" class="form-label">Job Group</label>
              <select id="JobGroupId" class="form-control" [(ngModel)]="JcJob.JobGroupId" (change)="changeJG()">
                <option *ngFor="let item of listJobGroup" value="{{item.GroupId}}">{{item.Name}}</option>
              </select>
            </div>
            <div class="col-md-4">
              <label for="JobId" class="form-label">Job</label>
              <select id="JobId" class="form-control" [(ngModel)]="JcJob.JobId">
                <option *ngFor="let item of listJob" value="{{item.JobId}}">{{item.Description}}</option>
              </select>
            </div>
            <div class="col-md-4">
              <label for="EngineSizeId" class="form-label">Engine Size</label>
              <select id="EngineSizeId" class="form-control" [(ngModel)]="JcJob.EngineSizeId" (change)="changeEngine()">
                <option *ngFor="let item of listEngine" value="{{item.EngineSizeId}}">{{item.Code}} {{item.CC}}</option>
              </select>
            </div>
            <div class="col-md-4">
              <label for="JobPrice" class="form-label" title="">Price:</label>
              <input type="text" id="JobPrice" [(ngModel)]="JcJob.Price" class="form-control" placeholder="" readonly style="text-align: right;" />
            </div>
            <div class="col-md-4">
              <label for="Duration" class="form-label" title="">Duration (Minutes):</label>
              <input type="text" id="Duration" [(ngModel)]="JcJob.Duration" class="form-control" placeholder="" readonly  style="text-align: right;" />
            </div>
            <div class="col-md-4">
              <label for="JobStatus" class="form-label">Status</label>
              <select id="JobStatus" class="form-control" [(ngModel)]="JcJob.JobStatus">
                <option *ngFor="let item of listJobStatus" value="{{item.Id}}">{{item.Name}}</option>
              </select>
            </div>
            <div class="col-md-4 mt-5">
                <button class="btn btn-sm btn-success" *ngIf="JcJob.Id == 0" (click)="addJob();"><i class="fa fa-plus"></i> Add</button>
                <button class="btn btn-sm btn-success" *ngIf="JcJob.Id > 0" (click)="updateJob();"><i class="fa fa-save"></i> Update</button>
            </div>
          </div>
          <table class="table table-bordered">
              <tr class="table-secondary">
                  <th scope="col">#</th>
                  <th>Group</th>
                  <th>Job</th>
                  <th>Engine</th>
                  <th>Price</th>
                  <th>Duration</th>
                  <th>Status</th>
                  <th>#</th>
              </tr>
              <tr *ngFor="let item of JobCard.JobDetails; let i = index">
                  <td>{{i+1}}</td>
                  <td>{{item.JobGroupName}}</td>
                  <td>{{item.JobName}}</td>
                  <td>{{item.EngineSizeName}}</td>
                  <td>{{item.Price}}</td>
                  <td>{{item.Duration}}</td>
                  <td>{{item.JobStatusName}}</td>
                  <td>
                    <button class="btn btn-sm btn-danger" (click)="editJob(item)"><i class="fa fa-pencil"></i> Edit</button>
                    <button class="btn btn-sm btn-danger" (click)="removeJob(item)"><i class="fa fa-trash"></i> Remove</button>
                  </td>
              </tr>
          </table>
        </div>
      </div>
    </div>
  
    <div class="accordion-item">
      <h2 class="accordion-header" id="heading4">
        <button class="accordion-button fw-bold text-primary collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
          <i class="fa fa-cog"></i>&nbsp;Spare Parts
        </button>
      </h2>
      <div id="collapse4" class="accordion-collapse collapse" aria-labelledby="heading4" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <div class="row g-3">
            <div class="col-md-4">
              <label for="ItemCode" class="form-label">
                Part-No:({{JcSpare.PartNoOld}})
                <a href="javascript:void()" data-bs-toggle="modal" data-bs-target="#searchItemNoModal">Search</a>
              </label>
              <input type="text" id="ItemCode" [(ngModel)]="JcSpare.PartNoNew" class="form-control" placeholder="part-no new" readonly />
            </div>
            <div class="col-md-4">
              <label for="Brand" class="form-label" title="">Brand:</label>
              <input type="text" id="Brand" [(ngModel)]="JcSpare.BrandName" class="form-control" placeholder="Brand.." readonly />
            </div>
            <div class="col-md-4">
              <label for="SparePrice" class="form-label" title="">Unit Price:</label>
              <input type="number" id="SparePrice" [(ngModel)]="JcSpare.SalePrice" class="form-control" placeholder="" readonly style="text-align: right;" />
            </div>
            <div class="col-md-4">
              <label for="Qty" class="form-label" title="">Quantity:</label>
              <input type="number" id="Qty" [(ngModel)]="JcSpare.Quantity" class="form-control" placeholder="" (change)="changeItemQty()" style="text-align: right;" />
            </div>
            <div class="col-md-4">
              <label for="SpareAmount" class="form-label" title="">Amount:</label>
              <input type="number" id="SpareAmount" [(ngModel)]="JcSpare.SpareAmount" class="form-control" placeholder="" readonly style="text-align: right;" />
            </div>
            <!-- <div class="col-md-4">
              <label for="ItemStatus" class="form-label">Status</label>
              <select id="ItemStatus" class="form-control" [(ngModel)]="JcSpare.ItemStatus">
                <option *ngFor="let item of listItemStatus" value="{{item.Id}}">{{item.Name}}</option>
              </select>
            </div> -->
            <div class="col-md-4 mt-5">
                <button class="btn btn-sm btn-success" *ngIf="JcSpare.Id == 0" (click)="addSpare();"><i class="fa fa-plus"></i> Add Spare</button>
                <button class="btn btn-sm btn-success" *ngIf="JcSpare.Id > 0" (click)="updateSpare();"><i class="fa fa-save"></i> Update Spare</button>
            </div>
          </div>
          <table class="table table-bordered">
              <tr class="table-secondary">
                  <th scope="col">#</th>
                  <th>Part OLD | NEW</th>
                  <th>Item Name</th>
                  <th>Brand</th>
                  <th>Price</th>
                  <th>Quantity</th>
                  <th>Amount</th>
                  <th>Status</th>
                  <th>#</th>
              </tr>
              <tr *ngFor="let item of JobCard.JcSpares; let i = index">
                <td>{{i+1}}</td>
                <td>{{item.PartNoOld}} | {{item.PartNoNew}}</td>
                <td>{{item.ItemName}}</td>
                <td>{{item.BrandName}}</td>
                <td>{{item.SalePrice}}</td>
                <td>{{item.Quantity}}</td>
                <td>{{item.SpareAmount}}</td>
                <td>{{item.ItemStatusName}}</td>
                <td>
                  <button class="btn btn-sm btn-primary" (click)="editSpare(item)">Edit</button>
                  <button class="btn btn-sm btn-danger" (click)="removeSpare(item)">Remove</button>
                </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="heading5">
        <button class="accordion-button fw-bold text-primary collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
          <i class="fa fa-users"></i>&nbsp;Man Power
        </button>
      </h2>
      <div id="collapse5" class="accordion-collapse collapse" aria-labelledby="heading5" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <div class="row g-3">
            <div class="col-md-4">
              <label for="Resources" class="form-label">Resource</label>
              <div style="max-height: 120px;" class="table-responsive">
                <ol>
                  <li *ngFor="let item of listMechanic">
                    <input type="checkbox" name="Resource" [(ngModel)]="item.IsSelect" /> {{item.FullName}} ( {{item.WgName}} )
                  </li>
                </ol>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row g-3 mt-1">
    <div class="col-md-6">
      <button type="button" *ngIf="JobCard.Id == 0 && authService.UserInfo.Menu.CanCreate" class="btn btn-success" (click)="add()"><i class="fa fa-plus"></i> Add</button>
      <button type="button" *ngIf="JobCard.Id > 0 && authService.UserInfo.Menu.CanEdit" class="btn btn-primary" (click)="update()"><i class="fa fa-save"></i> Update</button>
    </div>
  </div>
</div>

<!-- Modal -->

<div class="modal fade" id="searchVehicleNoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-primary">Choose A Vehicle</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <div class="row g-3">
            <div class="col-md-12">
              <table class="table table-bordered">
                <tr class="table-secondary">
                    <th scope="col">#</th>
                    <th>Job Card No.</th>
                    <th>Vehicle Reg.</th>
                    <th>#{{listVehicle.length}}</th>
                </tr>
                <tr *ngFor="let item of listVehicle; let i = index">
                    <td>{{i+1}}</td>
                    <td>{{item.JcNo}}</td>
                    <td>{{item.VehicleNo}}</td>
                    <td><button class="btn btn-sm btn-primary" (click)="selectVehicle(item);" data-bs-dismiss="modal">Select</button></td>
                </tr>
              </table>
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="searchItemNoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-primary">Search A Spare Parts</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <div class="row g-3">
            <div class="col-md-4">
              <label class="form-label" for="itemValue">Part No:</label>
              <input type="text" id="itemValue" [(ngModel)]="itemValue"  class="form-control" />
            </div>
            <div class="col-md-4 mt-5">
              <button type="button" class="btn btn-secondary" (click)="searchItem();">Search</button>&nbsp;
              <!-- <a routerLink="/store-req" data-bs-dismiss="modal" target="_blank">Requisition</a>  -->
              <a routerLink="/store-req" routerLinkActive="active" target="_blank" rel="bookmark">Requisition</a>
            </div>
            <div class="col-md-12">
              <table class="table table-bordered">
                <tr class="table-secondary">
                    <th scope="col">#</th>
                    <th>Part No OLD | NEW</th>
                    <th>Item</th>
                    <th>Brand</th>
                    <th>Sale Price</th>
                    <th>Qty</th>
                    <th>#</th>
                </tr>
                <tr *ngFor="let item of listItemS; let i = index">
                    <td>{{i+1}}</td>
                    <td>{{item.PartNoOld}} | {{item.PartNoNew}}</td>
                    <td>{{item.ItemName}}</td>
                    <td>{{item.BrandName}}</td>
                    <td>{{item.SalePrice}}</td>
                    <td>{{item.Qty}}</td>
                    <td><button class="btn btn-sm btn-primary" (click)="selectItem(item);" data-bs-dismiss="modal">Select</button></td>
                </tr>
              </table>
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="searchClientModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-primary">Search A Client</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <div class="row g-3">
            <div class="col-md-4">
              <label class="form-label" for="phone">Client Phone:</label>
              <input type="text" id="phone" [(ngModel)]="phone"  class="form-control" />
            </div>
            <div class="col-md-4 mt-5">
              <button type="button" class="btn btn-secondary" (click)="searchClient();">Search</button>
            </div>
            <div class="col-md-12">
              <table class="table table-bordered">
                <tr class="table-secondary">
                    <th scope="col">#</th>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>MembershipNo</th>
                    <th>#</th>
                </tr>
                <tr *ngFor="let item of listClientS; let i = index">
                    <td>{{i+1}}</td>
                    <td>{{item.Name}}</td>
                    <td>{{item.Phone}}</td>
                    <td>{{item.Email}}</td>
                    <td>{{item.MembershipNo}}</td>
                    <td><button class="btn btn-sm btn-primary" (click)="selectClient(item);" data-bs-dismiss="modal">Select</button></td>
                </tr>
              </table>
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>