<a href="javascript:void(0)" *ngIf="!isList" (click)="switchView('list')">Go to List</a>
<a href="javascript:void(0)" *ngIf="isList" (click)="switchView('form')">Go to Entry</a>

<div *ngIf="isList">
  <h4 class="text-center">List of Job Card</h4>
  <table class="table table-bordered">
    <tr class="table-secondary">
        <th>#</th>
        <th scope="col">SL No.</th>
        <th>Job Card No.</th>
        <th>Vehicle Reg.</th>
        <th>Bay</th>
        <th>Client</th>
        <th>Date</th>
        <th>Status</th>
        <th>#</th>
    </tr>
    <tr *ngFor="let item of listJobCard; let i = index">
        <td><a href="javascript:void(0)" (click)="openWin()">View</a></td>
        <td>{{i+1}}</td>
        <td>{{item.JcNo}}</td>
        <td>{{item.VehicleNo}}</td>
        <td>{{item.Bay}}</td>
        <td>{{item.ClientId}}</td>
        <td>{{item.ReceiveDate}}</td>
        <td>OPEN</td>
        <td><button class="btn btn-sm btn-primary" (click)="edit(item)">Edit</button></td>
    </tr>
  </table>
</div>

<div *ngIf="!isList">
  <h4 class="text-center">Entry of Job Card</h4>
  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="heading2">
        <button class="accordion-button btn btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="true" aria-controls="collapse2">
          Vehicle Info
        </button>
      </h2>
      <div id="collapse2" class="accordion-collapse collapse show" aria-labelledby="heading2" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <div class="row g-3">
            <div class="col-md-4">
              <label for="JcNo" class="form-label">Job Card No.:</label>
              <input type="text" id="JcNo" [(ngModel)]="JobCard.JcNo" class="form-control" readonly />
            </div>
            <div class="col-md-4">
              <label for="VehicleNo" class="form-label">
                Vehicle No.: 
                <a href="javascript:void()" data-bs-toggle="modal" data-bs-target="#searchVehicleNoModal">Search</a>  
              </label>
              <input type="text" id="VehicleNo" [(ngModel)]="JobCard.VehicleNo" class="form-control" placeholder="example: DM-GA-11-1632" />
            </div>
            <div class="col-md-4">
              <label for="Model" class="form-label">Model:</label>
              <input type="text" id="Model" [(ngModel)]="JobCard.Model" class="form-control" placeholder="model number" />
            </div>
            <div class="col-md-4">
              <label for="Vin" class="form-label" title="">VIN/Frame:</label>
              <input type="text" id="Vin" [(ngModel)]="JobCard.Vin" class="form-control" placeholder="vin or frame number" />
            </div>
            <div class="col-md-4">
              <label for="Mileage" class="form-label" title="">Milage(KM):</label>
              <input type="number" id="Mileage" [(ngModel)]="JobCard.Mileage" class="form-control" placeholder="milage in KM" />
            </div>
            <div class="col-md-4">
              <label for="ReceiveDate" class="form-label" title="">Receive Date:</label>
              <input type="datetime-local" id="ReceiveDate" [(ngModel)]="JobCard.ReceiveDate" class="form-control" placeholder="Receive Date" />
            </div>
            <div class="col-md-4">
              <label for="ReceiveBy" class="form-label">Receive By:</label>
              <select id="ReceiveBy" class="form-control" [(ngModel)]="JobCard.ReceiveBy">
                <option *ngFor="let item of listReceiveBy" value="{{item.EmployeeId}}">{{item.FirstName}} {{item.MiddleName}} {{item.LastName}}</option>
              </select>
            </div>
            <div class="col-md-4">
              <label for="Bay" class="form-label">Bay:</label>
              <select id="Bay" class="form-control" [(ngModel)]="JobCard.Bay">
                <option *ngFor="let item of listBay" value="{{item}}">{{item}}</option>
              </select>
            </div>
            <div class="col-md-4">
              <label for="JcStatus" class="form-label">JC Status:</label>
              <select id="JcStatus" class="form-control" [(ngModel)]="JobCard.JcStatus">
                <option *ngFor="let item of listJcStatus" value="{{item.Id}}">{{item.Name}}</option>
              </select>
            </div>
            <div class="col-md-4">
              <label for="EstiCostJob" class="form-label" title="">Estimated Cost of Jobs</label>
              <input type="text" id="EstiCostJob" [(ngModel)]="JobCard.EstiCostJob" class="form-control" placeholder="Cost of jobs" />
            </div>
            <div class="col-md-4">
              <label for="EstiCostSpare" class="form-label" title="">Estimated Cost of Spare</label>
              <input type="text" id="EstiCostSpare" [(ngModel)]="JobCard.EstiCostSpare" class="form-control" placeholder="Cost of spare" />
            </div>
            <div class="col-md-4">
              <label for="EstiCostTotal" class="form-label" title="">Total Estimated Cost</label>
              <input type="text" id="EstiCostTotal" [(ngModel)]="JobCard.EstiCostTotal" class="form-control" placeholder="total estimated cost" />
            </div>

            <div class="col-md-4">
              <label for="ActualCostJob" class="form-label" title="">Actual Cost of Job</label>
              <input type="text" id="ActualCostJob" [(ngModel)]="JobCard.ActualCostJob" class="form-control" placeholder="Actual Cost of Job" />
            </div>
            <div class="col-md-4">
              <label for="ActualCostSpare" class="form-label" title="">Actual Cost of Spare</label>
              <input type="text" id="ActualCostSpare" [(ngModel)]="JobCard.ActualCostSpare" class="form-control" placeholder="Actual Cost of Spare" />
            </div>
            <div class="col-md-4">
              <label for="ActualCostTotal" class="form-label" title="">Total Actual Cost</label>
              <input type="text" id="ActualCostTotal" [(ngModel)]="JobCard.ActualCostTotal" class="form-control" placeholder="Total Actual Cost" />
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="accordion-item">
      <h2 class="accordion-header" id="heading1">
        <button class="accordion-button btn btn-secondary collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
            Client Info ({{isNew==true?'New':'Existing'}})
        </button>
      </h2>
      <div id="collapse1" class="accordion-collapse collapse" aria-labelledby="heading1" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <div class="row g-3">
            
            <div class="col-md-4">
              <label class="form-label" for="ClientName">Client Name:</label>
              <input type="text" id="ClientName" [(ngModel)]="JobCard.ClientName" placeholder="Client Name" class="form-control" />
            </div>
            <div class="col-md-4">
              <label class="form-label" for="MembershipId">Membership Card Number:</label>
              <input type="text" id="MembershipId" [(ngModel)]="JobCard.MembershipId" placeholder="Membership Card Number" class="form-control" />
            </div>
            <div class="col-md-4">
              <label class="form-label">Phone:</label>
              <input type="text" id="Phone" [(ngModel)]="JobCard.ClientPhone" placeholder="Phone"  class="form-control" />
            </div>
            <div class="col-md-4">
              <label class="form-label">Email:</label>
              <input type="text" id="Email" [(ngModel)]="JobCard.ClientEmail" placeholder="Email"  class="form-control" />
            </div>
            <div class="col-md-4">
              <label class="form-label">Contact Person:</label>
              <input type="text" id="ContactPerson" [(ngModel)]="JobCard.ContactPerson"  placeholder="Contact Person" class="form-control" />
            </div>
            <div class="col-md-4">
              <label class="form-label">Contact Person No:</label>
              <input type="text" id="ContactPersonNo" [(ngModel)]="JobCard.ContactPersonNo" placeholder="Contact Person No" class="form-control" />
            </div>
            <div class="col-md-12">
              <label class="form-label">Address:</label>
                <input type="text" id="Address" [(ngModel)]="JobCard.ClientAddress" class="form-control " />
            </div>
            <div class="col-12">
              <label class="form-label" for="Description">Description:</label>
              <textarea id="Description" [(ngModel)]="JobCard.Description" class="form-control "></textarea>
            </div>
            <!-- <div class="col-md-4">
              <label for="client_name" class="form-label">{{isNew==true?'New':'Existing'}}:</label>
              <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" [(ngModel)]="isNew">
                <button *ngIf="isNew" type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#newClientModal">
                  New Client
                </button>
                <button *ngIf="!isNew" type="button" class="btn btn-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#chooseClientModal">
                  Choose Client
                </button>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
      
    <div class="accordion-item">
      <h2 class="accordion-header" id="heading3">
        <button class="accordion-button btn btn-secondary collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
          Job Details
        </button>
      </h2>
      <div id="collapse3" class="accordion-collapse collapse" aria-labelledby="heading3" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <div class="row g-3">
            <div class="col-md-4">
              <label for="JobGroup" class="form-label">Job Group</label>
              <select id="JobGroup" class="form-control" [(ngModel)]="JobGroup" (change)="changeJG()">
                <option *ngFor="let item of listJobGroup" value="{{item.GroupId}}">{{item.Name}}</option>
              </select>
            </div>
            <div class="col-md-4">
              <label for="Job" class="form-label">Job</label>
              <select id="Job" class="form-control" [(ngModel)]="Job">
                <option *ngFor="let item of listJob" value="{{item.JobId}}">{{item.Description}}</option>
              </select>
            </div>
            <div class="col-md-4">
              <label for="EngineSizeId" class="form-label">Engine Size</label>
              <select id="EngineSizeId" class="form-control" [(ngModel)]="EngineSizeId" (change)="changeEngine()">
                <option *ngFor="let item of listEngine" value="{{item.EngineSizeId}}">{{item.Code}} {{item.CC}}</option>
              </select>
            </div>
            <div class="col-md-4">
              <label for="JobPrice" class="form-label" title="">Price:</label>
              <input type="text" id="JobPrice" [(ngModel)]="JobPrice" class="form-control" placeholder="" readonly />
            </div>
            <div class="col-md-4">
              <label for="Duration" class="form-label" title="">Duration (Minutes):</label>
              <input type="text" id="Duration" [(ngModel)]="Duration" class="form-control" placeholder="" readonly />
            </div>
            <div class="col-md-4">
              <label for="JobStatus" class="form-label">Status</label>
              <select id="JobStatus" class="form-control" [(ngModel)]="JobStatus">
                <option *ngFor="let item of listJobStatus" value="{{item.Id}}">{{item.Name}}</option>
              </select>
            </div>
            <div class="col-md-4">
              <label for="Employees" class="form-label">Resource</label>
              <select id="Employees" class="form-control" [(ngModel)]="Mechanics" multiple>
                <option *ngFor="let item of listMechanic" value="{{item.EmployeeId}}">{{item.FirstName}} {{item.MiddleName}} {{item.LastName}}</option>
              </select>
            </div>
            <div class="col-md-4 mt-5">
                <button class="btn btn-sm btn-success" (click)="addJob();"><i class="fa fa-plus"></i> Add</button>
            </div>
          </div>
            <table class="table table-bordered">
                <tr class="table-secondary">
                    <th scope="col">#</th>
                    <th>Group</th>
                    <th>Job</th>
                    <th>Engine</th>
                    <th>Price</th>
                    <th>Duration</th>
                    <th>Status</th>
                    <th>Resource</th>
                    <th>#</th>
                </tr>
                <tr *ngFor="let item of JobCard.JobDetails; let i = index">
                    <td>{{i+1}}</td>
                    <td>{{item.JobGroupId}}</td>
                    <td>{{item.JobId}}</td>
                    <td>{{item.EngineSizeId}}</td>
                    <td>{{item.Price}}</td>
                    <td>{{item.Duration}}</td>
                    <td>{{item.JobStatus}}</td>
                    <td>{{item.Resources}}</td>
                    <td><button class="btn btn-sm btn-danger" (click)="removeJob(item)">Remove</button></td>
                </tr>
            </table>
        </div>
      </div>
    </div>
  
    <div class="accordion-item">
      <h2 class="accordion-header" id="heading4">
        <button class="accordion-button btn btn-secondary collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
          Spare Parts
        </button>
      </h2>
      <div id="collapse4" class="accordion-collapse collapse" aria-labelledby="heading4" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <div class="row g-3">
            <div class="col-md-4">
              <label for="ItemCode" class="form-label">
                Spare:
                <a href="javascript:void()" data-bs-toggle="modal" data-bs-target="#searchItemNoModal">Search</a>
              </label>
              <input type="text" id="ItemCode" [(ngModel)]="JcSpare.ItemCode" class="form-control" placeholder="item-code.." readonly />
            </div>
            <div class="col-md-4">
              <label for="Brand" class="form-label" title="">Brand:</label>
              <input type="text" id="Brand" [(ngModel)]="JcSpare.BrandName" class="form-control" placeholder="Brand.." readonly />
            </div>
            <div class="col-md-4">
              <label for="Quantity" class="form-label" title="">Quantity:</label>
              <input type="number" id="Quantity" [(ngModel)]="JcSpare.Quantity" class="form-control" placeholder="" (change)="changeItemQty()" />
            </div>
            <div class="col-md-4">
              <label for="SparePrice" class="form-label" title="">Unit Price:</label>
              <input type="number" id="SparePrice" [(ngModel)]="JcSpare.SalePrice" class="form-control" placeholder="" readonly />
            </div>
            <div class="col-md-4">
              <label for="SpareAmount" class="form-label" title="">Amount:</label>
              <input type="number" id="SpareAmount" [(ngModel)]="JcSpare.SpareAmount" class="form-control" placeholder="" readonly />
            </div>
            <div class="col-md-4">
              <label for="ItemStatus" class="form-label">Status</label>
              <select id="ItemStatus" class="form-control" [(ngModel)]="JcSpare.ItemStatus">
                <option *ngFor="let item of listItemStatus" value="{{item.Id}}">{{item.Name}}</option>
              </select>
            </div>
            <div class="col-md-4 mt-5">
                <button class="btn btn-sm btn-success" (click)="addSpare();"><i class="fa fa-plus"></i> Add</button>
            </div>
          </div>
            <table class="table table-bordered">
                <tr class="table-secondary">
                    <th scope="col">#</th>
                    <th>Item</th>
                    <th>Brand</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Amount</th>
                    <th>Status</th>
                    <th>#</th>
                </tr>
                <tr *ngFor="let item of JobCard.JcSpares; let i = index">
                  <td>{{i+1}}</td>
                  <td>{{item.ItemCode}}</td>
                  <td>{{item.BrandName}}</td>
                  <td>{{item.SalePrice}}</td>
                  <td>{{item.Quantity}}</td>
                  <td>{{item.SpareAmount}}</td>
                  <td>{{item.ItemStatus}}</td>
                  <td><button class="btn btn-sm btn-danger" (click)="removeItem(item)">Remove</button></td>
              </tr>
            </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row g-3">
    <div class="col-md-6">
      <button type="button" class="btn btn-success" (click)="addJobCard()">Save</button>
    </div>
  </div>
</div>

<!-- Modal -->
<!-- <div class="modal fade" id="newClientModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
 <div class="modal-dialog modal-xl">
   <div class="modal-content">
     <div class="modal-header">
       <h5 class="modal-title text-success" id="exampleModalLabel">New Client</h5>
       <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
     </div>
     <div class="modal-body text-success">
        <div class="row g-3">
          <div class="col-md-4">
              <label class="form-label">Client Name:</label>
              <input type="text" id="Name" [(ngModel)]="Client.Name" placeholder="Client Name" class="form-control" />
          </div>
          <div class="col-md-4">
            <label class="form-label">Membership Card Number:</label>
            <input type="text" id="MembershipId" [(ngModel)]="Client.MembershipId" placeholder="Membership Card Number" class="form-control" />
          </div>
          <div class="col-md-4">
            <label class="form-label">Phone:</label>
            <input type="text" id="Phone" [(ngModel)]="Client.Phone" placeholder="Phone"  class="form-control" />
          </div>
          <div class="col-md-4">
            <label class="form-label">Email:</label>
            <input type="text" id="Email" [(ngModel)]="Client.Email" placeholder="Email"  class="form-control" />
          </div>
          <div class="col-md-4">
            <label class="form-label">Contact Person:</label>
            <input type="text" id="ContactPerson" [(ngModel)]="Client.ContactPerson"  placeholder="Contact Person" class="form-control" />
          </div>
          <div class="col-md-4">
            <label class="form-label">Contact Person No:</label>
            <input type="text" id="ContactPersonNo" [(ngModel)]="Client.ContactPersonNo" placeholder="Contact Person No" class="form-control" />
          </div>
          <div class="col-md-12">
            <label class="form-label">Address:</label>
              <input type="text" id="Address" [(ngModel)]="Client.Address" class="form-control " />
          </div>
        </div>
     </div>
     <div class="modal-footer">
       <button type="button" class="btn btn-success" (click)="addClient();">Add</button>
     </div>
   </div>
 </div>
</div> -->

<!-- <div class="modal fade" id="chooseClientModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-primary">Choose a Client</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-danger">
          <select [(ngModel)]="ClientName">
            <option *ngFor="let item of listClient" value="{{item.Name}}">{{item.Name}}</option>
          </select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div> -->

<div class="modal fade" id="searchVehicleNoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-primary">Search By Vehicle Registration Number</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <div class="row g-3">
            <div class="col-md-4">
              <label class="form-label" for="VehicleNo">Vehicle No:</label>
              <input type="text" id="VehicleNo" [(ngModel)]="VehicleNo"  class="form-control" />
            </div>
            <div class="col-md-4 mt-5">
              <button type="button" class="btn btn-secondary" (click)="searchVehicle();">Search</button>
            </div>
            <div class="col-md-12">
              <table class="table table-bordered">
                <tr class="table-secondary">
                    <th scope="col">#</th>
                    <th>Job Card No.</th>
                    <th>Vehicle Reg.</th>
                    <th>Bay</th>
                    <th>Client</th>
                    <th>Date</th>
                    <th>Status</th>
                    <th>#{{listJobCardS.length}}</th>
                </tr>
                <tr *ngFor="let item of listJobCardS; let i = index">
                    <td>{{i+1}}</td>
                    <td>{{item.JcNo}}</td>
                    <td>{{item.VehicleNo}}</td>
                    <td>{{item.Bay}}</td>
                    <td>{{item.ClientId}}</td>
                    <td>{{item.ReceiveDate}}</td>
                    <td>OPEN</td>
                    <td><button class="btn btn-sm btn-primary" (click)="selectVehicle(item);" data-bs-dismiss="modal">Select</button></td>
                </tr>
              </table>
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="searchItemNoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-primary">Search A Spare Parts</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <div class="row g-3">
            <div class="col-md-4">
              <label class="form-label" for="value">Part No:</label>
              <input type="text" id="value" [(ngModel)]="value"  class="form-control" />
            </div>
            <div class="col-md-4 mt-5">
              <button type="button" class="btn btn-secondary" (click)="searchItem();">Search</button>
            </div>
            <div class="col-md-12">
              <table class="table table-bordered">
                <tr class="table-secondary">
                    <th scope="col">#</th>
                    <th>Code</th>
                    <th>Part No Old</th>
                    <th>Part No New</th>
                    <th>Item</th>
                    <th>Brand</th>
                    <th>Sale Price</th>
                    <th>#</th>
                </tr>
                <tr *ngFor="let item of listItemS; let i = index">
                    <td>{{i+1}}</td>
                    <td>{{item.ItemCode}}</td>
                    <td>{{item.PartNoOld}}</td>
                    <td>{{item.PartNoNew}}</td>
                    <td>{{item.ItemName}}</td>
                    <td>{{item.BrandName}}</td>
                    <td>{{item.SalePrice}}</td>
                    <td><button class="btn btn-sm btn-primary" (click)="selectItem(item);" data-bs-dismiss="modal">Select</button></td>
                </tr>
              </table>
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>