<a href="javascript:void(0)" *ngIf="!isList" (click)="switchView('list')">Go Back</a>

<!-- start start user role managementpart  -->
<!-- ================================================== -->
<div *ngIf="isList" class="row mt-3">
  <div class="row mb-3">
    <div class="col-lg-4">
      Show
      <select style="width: 50px;height: 32px;" [(ngModel)]="pageSize" (change)="changePageSize()">
        <option *ngFor="let listItem of listPageSize" value={{listItem}}>
          {{listItem}}
        </option>
      </select>
      records
    </div>
    <div class="col-lg-4 mb-2">
      <h4>User Role Management</h4>
    </div>
    <div class="col-lg-4"></div>
  </div>
  <div class="itemList">
    <div class="row">
      <div class="col-md-12">
        <table class="table table-bordered">
          <tr class="table-secondary">
            <th>User ID</th>
            <th>User Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th colspan="2">Action</th>
          </tr>
          <tr *ngFor="let item of listUser">
            <td>{{item.UserID}}</td>
            <td>{{item.FirstName +" "+ item.MiddleName +" "+ item.LastName}}</td>
            <td>{{item.Email}}</td>
            <td>{{item.MobileNo}}</td>
            <td><button class="btn btn-sm btn-outline-primary" (click)="setRole(item)">Set Role</button></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!isList">
  <div class="setRole mt-5">
    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-8">
        <table class="table table-bordered table-responsive">
          <thead>
            <th>Set Roles For</th>
            <th>Roles</th>
          </thead>
          <tbody>
            <td>
              <h5>{{user.FirstName +" "+ user.MiddleName +" "+ user.LastName}}</h5>
            </td>
            <td>
              <ul>
                <li *ngFor="let item of listUserRole">
                  <input type="checkbox" name="Roles" [(ngModel)]="item.IsSelect" /> {{item.RoleName}}
                </li>
              </ul>
              <div class="row">
                <button type="submit" class="btn btn-primary btn-sm" (click)="add()">Save</button>
              </div>
            </td>
          </tbody>
        </table>
      </div>
      <div class="col-md-2">
      </div>
    </div>
  </div>
</div>
<!-- ================================================== -->
<!-- End end user role managementpart -->