<br />
<a href="javascript:void(0)" *ngIf="!isList" (click)="switchView('list')">List</a>
<a href="javascript:void(0)" *ngIf="isList && authService.UserInfo.Menu.CanCreate" (click)="switchView('form')">New</a>

<div *ngIf="isList">
    <div class="row">
        <div class="col-lg-4"><br />
            Show
            <select style="width: 50px;height: 32px;" [(ngModel)]="pageSize" (change)="search()">
                <option *ngFor="let item of listPageSize" value={{item}}>
                    {{item}}
                </option>
            </select> 
            records
        </div>
        <div class="col-lg-4">
            <h4 class="text-center">List of Client's Vehicle</h4>
        </div>
        <div class="col-lg-4">
            <table>
                <tr>
                    <td>Phone: </td>
                    <td>
                        <input type="text" [(ngModel)]="phone" placeholder="phone" />
                    </td>
                </tr>
                <tr>
                    <td>Vehicle Reg.: </td>
                    <td>
                        <input type="text" [(ngModel)]="vehicle" placeholder="vehicle reg." /> 
                        <button type="button" (click)="search()"><i class="fa fa-search"></i></button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    
    <!-- Start Display Client Vehicle Section -->
    <table class="table table-bordered">
        <tr class="table-secondary">
            <th>SL</th>
            <th>Client</th>
            <th>Phone</th>
            <th>Car Reg. No.</th>
            <th>Model</th>
            <th>VIN</th>
            <th colspan="2" class="text-center">Action</th>
        </tr>
        <tr *ngFor="let item of listClientVehicle; let i = index">
            <td>{{i + 1}}</td>
            <td>{{item.ClientName}}</td>
            <td>{{item.Phone}}</td>
            <td>{{item.VehicleNo}}</td>
            <td>{{item.Model}}</td>
            <td>{{item.Vin}}</td>
            <td class="text-center"><button class="btn btn-sm btn-outline-primary" (click)="edit(item)" *ngIf="authService.UserInfo.Menu.CanEdit">Edit</button></td>
            <!-- <td class="text-center"><button class="btn btn-sm btn-outline-danger" (click)="ClientVehicle=item" data-bs-toggle="modal" data-bs-target="#confirmModal">Remove</button></td> -->
        </tr>
    </table>
    
    <!-- End Display Client Vehicle Section -->
    <!-- Satrt Paging Section -->
    <div class="row" *ngIf="listClientVehicle.length>0">
        <div class="col-lg-12">
            <div class="pull-left ">
                <span class="well well-sm">Showing  <span class="text-success"><b>{{pageStart}}</b></span> to <span class="text-success"><b>{{pageEnd}}</b></span> of <span class="text-success"><b>{{rowCount}}</b></span> records</span>
            </div>
        </div>
        <div class="col-lg-12 ">
            <div class="table-responsive">
                <ul class="pagination" *ngIf="pager.pages && pager.pages.length">
                    <li>
                        <a class="btn btn-sm btn-outline-secondary" [ngClass]="{disabled:pageIndex == 0}" href="javascript:void(0);" (click)="changePageNumber(0)"><i class="fa fa-angle-double-left" aria-hidden="true"></i>Start</a>
                    </li>
                    <li>
                        <a class="btn btn-sm btn-outline-info" [ngClass]="{disabled:pageIndex == 0}" href="javascript:void(0);" (click)="changePageNumber(pageIndex - 1)"><i class="fa fa-angle-left" aria-hidden="true"></i>Previous</a>
                    </li>
                    <li *ngFor="let page of pager.pages">
                        <a class="btn btn-sm btn-outline-secondary" [ngClass]="{active:pageIndex == (page - 1)}" href="javascript:void(0);" (click)="changePageNumber(page - 1)">{{page}}</a>
                    </li>
                    <li>
                        <a class="btn btn-sm btn-outline-info" [ngClass]="{disabled:pageIndex == (pager.totalPages - 1)}" href="javascript:void(0);" (click)="changePageNumber(pageIndex + 1)"><i class="fa fa-angle-right" aria-hidden="true"></i>Next</a>
                    </li>
                    <li>
                        <a class="btn btn-sm btn-outline-secondary" [ngClass]="{disabled:pageIndex == (pager.totalPages - 1)}" href="javascript:void(0);" (click)="changePageNumber(pager.totalPages - 1)"><i class="fa fa-angle-double-right" aria-hidden="true"></i>End</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

    <!-- End Paging Section -->
    
    <!-- Start Form Client Vehicle Section -->
<div *ngIf="!isList">
    <h4>Client's Vehicle Entry Form</h4>
    <div class="row">
        <a href="javascript:void(0);" (click)="searchVin()"><i *ngIf="isSearching" class="fa fa-spinner fa-spin" style="font-size:24px;color:blue"></i> {{isSearching == true ? 'Searching...': 'Search'}}</a>
        <div class="col-md-6">
            <div class="entryForm">
                <div class="row">
                    <div class="form-floating mb-2">
                        <input type="text" [(ngModel)]="ClientVehicle.Vin" class="form-control" id="Vin" name="Vin" placeholder="" autocomplete="off">
                        <label for="Name" title="VIN = Vehicle Identification Number">Chassis/VIN: </label>
                    </div>
                    <div class="form-floating mb-2">
                        <input type="text" [(ngModel)]="ClientVehicle.Manufacturer" class="form-control" id="Manufacturer" name="Manufacturer" placeholder="" autocomplete="off">
                        <!-- <datalist id="Manufacturers">
                            <option value="{{item.Manufacturer}}" *ngFor="let item of listManufacturer">
                        </datalist> -->
                        <label for="Manufacturer">Make</label>
                    </div>
                    <div class="form-floating mb-2">
                        <input type="text" name="Model" id="Model" [(ngModel)]="ClientVehicle.Model" class="form-control" placeholder="" autocomplete="off">
                        <!-- <datalist id="Models">
                            <option value="{{item.Model}}" *ngFor="let item of listModel">
                        </datalist> -->
                        <label for="Model">Model</label>
                    </div>
                    <div class="form-floating mb-2">
                        <input type="text" name="From" id="From" [(ngModel)]="ClientVehicle.From" class="form-control" placeholder="" autocomplete="off">
                        <!-- <datalist id="Froms">
                            <option value="{{item.From}}" *ngFor="let item of listFrom">
                        </datalist> -->
                        <label for="From">Year</label>
                    </div>
                    <div class="form-floating mb-2">
                        <input type="text" [(ngModel)]="ClientVehicle.Body" class="form-control" id="Body" name="Body" placeholder="" autocomplete="off">
                        <label for="Body" title="">Body: </label>
                    </div>
                    <div class="form-floating mb-2">
                        <input type="text" [(ngModel)]="ClientVehicle.Engine" class="form-control" id="Engine" name="Engine" placeholder="" autocomplete="off">
                        <label for="Engine" title="">Engine: </label>
                    </div>
                    <div class="form-floating mb-2">
                        <input type="text" [(ngModel)]="ClientVehicle.Transmission" class="form-control" id="Transmission" name="Transmission" placeholder="" autocomplete="off">
                        <label for="Transmission" title="">Transmission: </label>
                    </div>

                    <!-- <div class="form-floating mb-2">
                        <input type="text" name="SubModel" id="SubModel" [(ngModel)]="ClientVehicle.SubModel" class="form-control" placeholder="" autocomplete="off">
                        <datalist id="SubModels">
                            <option value="{{item.SubModel}}" *ngFor="let item of listSubModel">
                        </datalist>
                        <label for="SubModel">Sub-Model</label>
                    </div> -->
                    
                    <!-- <div class="form-floating mb-2">
                        <input type="text" name="To" id="To" [(ngModel)]="ClientVehicle.To" class="form-control" placeholder="" autocomplete="off">
                        <datalist id="Tos">
                            <option value="{{item.To}}" *ngFor="let item of listTo">
                        </datalist>
                        <label for="To">To</label>
                    </div> -->

                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="entryForm">
                <div class="row">
                    <div class="form-floating mb-2">
                        <input type="text" [(ngModel)]="ClientVehicle.VehicleNo" class="form-control" id="VehicleNo"
                            placeholder="">
                        <label for="Name" class="required">Car Reg. Number</label>
                    </div>
                    <div class="form-floating mb-2">
                        <!-- <select id="ClientId" class="form-control" [(ngModel)]="ClientVehicle.ClientId">
                            <option *ngFor="let item of listClient" value="{{item.BpId}}">{{item.Name}}</option>
                        </select> -->
                        <input list="clients" name="ClientId" id="ClientId" [(ngModel)]="ClientVehicle.Value" class="form-control" (keyup)="getClientByInfo();" autocomplete="off">
                        <datalist id="clients">
                            <option value="{{item.Name}}" *ngFor="let item of listClient">
                        </datalist>
                        <label for="ClientId" class="required">Car Owner Name<sup><span style="color:red">*</span></sup></label>
                    </div>
                    <div class="form-floating mb-2">
                        <!-- <input type="text" [(ngModel)]="ClientVehicle.Remark" class="form-control" id="Remark" name="Remark" placeholder="" autocomplete="off"> -->
                        <textarea [(ngModel)]="ClientVehicle.Remark" class="form-control" id="Remark" name="Remark" placeholder="" autocomplete="off"></textarea>
                        <label for="Remark" title="">Remark: </label>
                    </div>
                    <div class="col-auto  mb-2">
                        <button type="button" class="btn btn-success mb-3" *ngIf="ClientVehicle.Id==0 && authService.UserInfo.Menu.CanCreate"
                            (click)="add()">Add Client Vehicle</button>
                        <button type="button" class="btn btn-success mb-3" *ngIf="ClientVehicle.Id>0 && authService.UserInfo.Menu.CanEdit"
                            (click)="update()">Update Client Vehicle</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- <iframe src="https://carvx.jp/search/new?chassis_number=NKE165-7072856" style="border:none;width: 100%;height: 500px;" title="carvx"></iframe> -->
    <!-- <iframe src="https://www.carjam.co.nz/japan-history:car?chassis=NZT260-3189183" name="iframe_a" height="300px" width="100%" title="carjam"></iframe> -->
</div>

<!-- End Form Client Vehicle Section -->