<a href="javascript:void(0)" *ngIf="!isList" (click)="switchView('list')">Go to List</a>
<a href="javascript:void(0)" *ngIf="isList" (click)="switchView('form')">Go to Entry</a>
<div *ngIf="isList">
    <h4 class="text-center">List of Payment Transaction</h4>
    <table class="table table-bordered border-primary">
        <tr>
            <th scope="col">#</th>
            <th>Payment Type</th>
            <th>Date</th>
            <th>Transaction ID</th>
            <th>Amount</th>
        </tr>
        <!-- <tr>
            <td>1</td>
            <td>Cash</td>
            <td>2023-08-09 24:38</td>
            <td>TX230809</td>
            <td>5200</td>
        </tr> -->
    </table>
</div>
<div *ngIf="!isList">
    <h4 class="text-center">Entry of Payment</h4>
</div>

