<a href="javascript:void(0)" *ngIf="!isList && authService.UserInfo.Menu.CanView" (click)="switchView('list')">Go to List</a>
<!-- <a href="javascript:void(0)" *ngIf="isList" (click)="switchView('form')">Go to Entry</a> -->
<div *ngIf="isList"><br />
    <h4 class="text-center">List of Payment Transaction</h4>
    <table class="table table-bordered">
        <tr class="table-secondary">
            <th>#</th>
            <th scope="col">SL</th>
            <th>Job Card No.</th>
            <th>Vehicle Reg.</th>
            <th>Bay</th>
            <th>Client</th>
            <th>Date</th>
            <th>Paid Amount</th>
            <th>Pay Status</th>
            <th>JC Status</th>
            <th>#</th>
        </tr>
        <tr *ngFor="let item of listJobCard; let i = index">
            <td><a href="javascript:void(0)" (click)="openWin(item)" *ngIf="authService.UserInfo.Menu.CanView">Bill Copy</a></td>
            <td>{{i+1}}</td>
            <td>{{item.JcNo}}</td>
            <td>{{item.VehicleNo}}</td>
            <td>{{item.Bay}}</td>
            <td>{{item.ClientName}}</td>
            <td>{{item.InvoiceDate | date:'dd-MMM-yy HH:mm a'}}</td>
            <td>{{item.GrandTotal}}</td>
            <td>{{item.IsPaid == true ? 'Paid' : 'Due'}}</td>
            <td>{{item.JcStatus == 1 ? 'Close' : 'Open'}}</td>
            <td>
                <button class="btn btn-sm btn-primary" (click)="detailBill(item)" *ngIf="authService.UserInfo.Menu.CanEdit">Details</button>
            </td>
        </tr>
    </table>
</div>
<div *ngIf="!isList">
    <h4 class="text-center">Details of Payment</h4>
    <div class="row g-3">
        <div class="col-md-4">
            <strong>Job Card Number: </strong>{{oBill.JcNo}}
        </div>
        <div class="col-md-4">
            <strong>Client Name: </strong>{{oBill.ClientName}}
        </div>
    </div>
    <div class="row g-3">
      <div class="col-md-4"><h6>Bill Items</h6></div>
      <div class="col-md-4"><h6><strong>Balance: </strong>{{oBill.BalanceAmount}}</h6></div>
    </div>
    <table class="table table-bordered table-responsive">
        <tr>
            <th>#</th>
            <th>Item Type</th>
            <th style="text-align: right;">Qty</th>
            <th style="text-align: right;">Price</th>
            <th style="text-align: right;">Total Price</th>
            <th style="text-align: right;">Discount(%)</th>
            <th style="text-align: right;">Total Price After Discount</th>
            <th style="text-align: right;">Total VAT ({{VAT}}%)</th>
            <th style="text-align: right;">Total Amount</th>
        </tr>
        <tr *ngFor="let item of listBillItem; let i = index">
            <td>{{i+1}}</td>
            <td>{{item.ItemType == 1 ? 'Job' : item.ItemType == 2 ? 'SP' : 'N/A'}}</td>
            <td style="text-align: right;">{{item.Qty}}</td>
            <td style="text-align: right;">{{item.UnitPrice}}</td>
            <td style="text-align: right;">{{item.TotalPrice}}</td>
            <td style="text-align: right;">{{item.Discount}}</td>
            <td style="text-align: right;">{{item.TpAfterDiscount}}</td>
            <td style="text-align: right;">{{item.TotalVat}}</td>
            <td style="text-align: right;">{{item.TotalAmount}}</td>
        </tr>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th style="text-align: right;">Grand Total:</th>
            <th style="text-align: right;">{{oBill.GrandTotal}}</th>
        </tr>
    </table>
    <h6>Payment Information</h6>
    <table class="table table-bordered table-responsive">
        <tr>
            <th>#</th>
            <th>Pay Method</th>
            <th>Pay Date</th>
            <th style="text-align: right;">Amount</th>
        </tr>
        <tr *ngFor="let item of oBill.PaySettles; let i = index">
            <td>{{i+1}}</td>
            <td>{{item.PayMethodName}}</td>
            <td>{{item.PayDate | date:'dd-MMM-yy HH:mm a'}}</td>
            <td style="text-align: right;">{{item.Amount}}</td>
        </tr>
    </table>
</div>