<br>
<a href="javascript:void(0)" *ngIf="!isList && authService.UserInfo.Menu.CanView" (click)="switchView('list')">List</a>
<!-- <a href="javascript:void(0)" *ngIf="isList" (click)="switchView('form')">Go to Entry</a> -->
<div *ngIf="isList"><br />    
  <div class="row">
    <div class="col-lg-4">
        
    </div>
    <div class="col-lg-4">
        <h4 class="text-center">List of Paid Bills</h4>
    </div>
    <div class="col-lg-4">
        
    </div>
  </div>    
  <div class="row">
    <div class="col-lg-2">
        Show
        <select style="width: 50px;height: 32px;" [(ngModel)]="pageSize" (change)="changePageSize()">
            <option *ngFor="let item of listPageSize" value={{item}}>
                {{item}}
            </option>
        </select> 
        records
      </div>
    <div class="col-lg-5">
        <label for="startDate" class="form-label">From:</label>
        <input type="date" [(ngModel)]="startDate" (change)="get();" />
        <label for="endDate" class="form-label">To:</label>
        <input type="date" [(ngModel)]="endDate" (change)="get();" />
      </div>
      <div class="col-lg-3">
        <label for="jcNo" class="form-label">JC Number:</label>
        <input type="text" [(ngModel)]="jcNo" (change)="get();" />
      </div>
      <div class="col-lg-2">
        <label for="jcStatus" class="form-label">JC Status:</label>
        <select id="jcStatus" [(ngModel)]="jcStatus" (change)="get();" style="height: 32px;">
          <option *ngFor="let item of listJcStatusFitler" value="{{item.Id}}">{{item.Name}}</option>
        </select>
      </div>
  </div>
    <table class="table table-bordered">
        <tr class="table-secondary">
            <th>#</th>
            <th scope="col">SL</th>
            <th>Job Card No.</th>
            <th>Vehicle Reg.</th>
            <th>Bay</th>
            <th>Client</th>
            <th>Date</th>
            <th>Paid Amount</th>
            <th>Pay Status</th>
            <th>JC Status</th>
            <th>#</th>
        </tr>
        <tr *ngFor="let item of listJobCard; let i = index">
            <td><a href="javascript:void(0)" (click)="openWin(item)" *ngIf="authService.UserInfo.Menu.CanView">Bill Copy</a></td>
            <td>{{i+1}}</td>
            <td>{{item.JcNo}}</td>
            <td>{{item.VehicleNo}}</td>
            <td>{{item.Bay}}</td>
            <td>{{item.ClientName}}</td>
            <td>{{item.InvoiceDate | date:'dd-MMM-yy HH:mm a'}}</td>
            <td>{{item.GrandTotal}}</td>
            <td>{{item.IsPaid == true ? 'Paid' : 'Due'}}</td>
            <td>{{item.JcStatus == 1 ? 'Close' : 'Open'}}</td>
            <td>
                <button class="btn btn-sm btn-primary" (click)="detailBill(item)" *ngIf="authService.UserInfo.Menu.CanEdit">Details</button>
            </td>
        </tr>
    </table>
    <div class="row" *ngIf="listJobCard.length>0">
        <div class="col-lg-12">
            <div class="pull-left ">
                <span class="well well-sm">Showing  <span class="text-success"><b>{{pageStart}}</b></span> to <span class="text-success"><b>{{pageEnd}}</b></span> of <span class="text-success"><b>{{rowCount}}</b></span> records</span>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="table-responsive">
                <ul class="pagination" *ngIf="pager.pages && pager.pages.length">
                    <li>
                        <a class="btn btn-sm btn-outline-secondary" [ngClass]="{disabled:pageIndex == 0}" href="javascript:void(0);" (click)="changePageNumber(0)"><i class="fa fa-angle-double-left" aria-hidden="true"></i>Start</a>
                    </li>
                    <li>
                        <a class="btn btn-sm btn-outline-info" [ngClass]="{disabled:pageIndex == 0}" href="javascript:void(0);" (click)="changePageNumber(pageIndex - 1)"><i class="fa fa-angle-left" aria-hidden="true"></i>Previous</a>
                    </li>
                    <li *ngFor="let page of pager.pages">
                        <a class="btn btn-sm btn-outline-secondary" [ngClass]="{active:pageIndex == (page - 1)}" href="javascript:void(0);" (click)="changePageNumber(page - 1)">{{page}}</a>
                    </li>
                    <li *ngIf="pageDot">
                        <a class="btn btn-sm btn-outline-success"
                            href="javascript:void(0);" 
                            (click)="changePageNumber(pager.pages[pager.pages.length - 1])">
                            <i class="fa fa-ellipsis-h" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a class="btn btn-sm btn-outline-info" [ngClass]="{disabled:pageIndex == (pager.totalPages - 1)}" href="javascript:void(0);" (click)="changePageNumber(pageIndex + 1)"><i class="fa fa-angle-right" aria-hidden="true"></i>Next</a>
                    </li>
                    <li>
                        <a class="btn btn-sm btn-outline-secondary" [ngClass]="{disabled:pageIndex == (pager.totalPages - 1)}" href="javascript:void(0);" (click)="changePageNumber(pager.totalPages - 1)"><i class="fa fa-angle-double-right" aria-hidden="true"></i>End</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div *ngIf="!isList">
    <h4 class="text-center">Details of Payment</h4>
    <div class="row g-3">
        <div class="col-md-4">
            <strong>Job Card Number: </strong>{{oBill.JcNo}}
        </div>
        <div class="col-md-4">
            <strong>Client Name: </strong>{{oBill.ClientName}}
        </div>
    </div>
    <div class="row g-3">
      <div class="col-md-4"><h6>Bill Items</h6></div>
      <div class="col-md-4"><h6><strong>Balance: </strong>{{oBill.BalanceAmount}}</h6></div>
    </div>
    <table class="table table-bordered table-responsive">
        <tr>
            <th>#</th>
            <th>Item Type</th>
            <th style="text-align: right;">Qty</th>
            <th style="text-align: right;">Price</th>
            <th style="text-align: right;">Total Price</th>
            <th style="text-align: right;">Discount(%)</th>
            <th style="text-align: right;">Total Price After Discount</th>
            <th style="text-align: right;">Total VAT ({{VAT}}%)</th>
            <th style="text-align: right;">Total Amount</th>
        </tr>
        <tr *ngFor="let item of listBillItem; let i = index">
            <td>{{i+1}}</td>
            <td>{{item.ItemType == 1 ? 'Job' : item.ItemType == 2 ? 'SP' : 'N/A'}}</td>
            <td style="text-align: right;">{{item.Qty}}</td>
            <td style="text-align: right;">{{item.UnitPrice}}</td>
            <td style="text-align: right;">{{item.TotalPrice}}</td>
            <td style="text-align: right;">{{item.Discount}}</td>
            <td style="text-align: right;">{{item.TpAfterDiscount}}</td>
            <td style="text-align: right;">{{item.TotalVat}}</td>
            <td style="text-align: right;">{{item.TotalAmount}}</td>
        </tr>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th style="text-align: right;">Grand Total:</th>
            <th style="text-align: right;">{{oBill.GrandTotal}}</th>
        </tr>
    </table>
    <h6>Payment Information</h6>
    <table class="table table-bordered table-responsive">
        <tr>
            <th>#</th>
            <th>Pay Method</th>
            <th>Pay Date</th>
            <th style="text-align: right;">Amount</th>
        </tr>
        <tr *ngFor="let item of oBill.PaySettles; let i = index">
            <td>{{i+1}}</td>
            <td>{{item.PayMethodName}}</td>
            <td>{{item.PayDate | date:'dd-MMM-yy HH:mm a'}}</td>
            <td style="text-align: right;">{{item.Amount}}</td>
        </tr>
    </table>
</div>