<!-- <p>invoice</p>
<img title="" src="/assets/invoice_sample.png" class="img-fluid" /> -->
<a href="javascript:void(0)" *ngIf="!isList" (click)="isList=true">Go to List</a>
<a href="javascript:void(0)" *ngIf="isList" (click)="isList=false">Go to Entry</a>
<div *ngIf="isList">
    <h4 class="text-center">Job-Card To Bill</h4>
    <table class="table table-bordered">
        <tr class="table-secondary">
            <th>#</th>
            <th scope="col">SL No.</th>
            <th>Job Card No.</th>
            <th>Vehicle Reg.</th>
            <th>Bay</th>
            <th>Client</th>
            <th>Date</th>
            <th>Status</th>
            <th>#</th>
        </tr>
        <tr *ngFor="let item of listJobCard; let i = index">
            <td><a href="javascript:void(0)" (click)="openWin()">View</a></td>
            <td>{{i+1}}</td>
            <td>{{item.JcNo}}</td>
            <td>{{item.VehicleNo}}</td>
            <td>{{item.Bay}}</td>
            <td>{{item.ClientId}}</td>
            <td>{{item.ReceiveDate}}</td>
            <td>{{item.JcStatus == 1 ? 'CLOSE' : 'OPEN'}}</td>
            <td>
                <button class="btn btn-sm btn-primary" (click)="createBill(item)" *ngIf="item.JcId==0">Create Bill</button>
                <button class="btn btn-sm btn-primary" (click)="editBill(item)" *ngIf="item.JcId>0">Edit Bill</button>
            </td>
        </tr>
    </table>
</div>
<div *ngIf="!isList">
    <h4 class="text-center">Create Bill</h4>
    <div class="row g-3">
        <div class="col-md-4">
            <strong>Job Card Number: </strong>{{oBill.JcNo}}
        </div>
        <div class="col-md-4">
            <strong>Client Name: </strong>{{oBill.ClientName}}
        </div>
    </div>
    <h6>Bill Items</h6>
    <table class="table table-bordered table-responsive">
        <tr>
            <th>#</th>
            <th>Item Type</th>
            <th>Item Description</th>
            <th style="text-align: right;">Qty</th>
            <th style="text-align: right;">Price</th>
            <th style="text-align: right;">Total Price</th>
            <th style="text-align: right;">Discount(%)</th>
            <th style="text-align: right;">Total Price After Discount</th>
            <th style="text-align: right;">Total VAT ({{VAT}}%)</th>
            <th style="text-align: right;">Total Amount</th>
        </tr>
        <tr *ngFor="let item of listBillItem; let i = index">
            <td>{{i+1}}</td>
            <td>{{item.BillType}}</td>
            <td>{{item.ItemDescription}}</td>
            <td style="text-align: right;">{{item.Qty}}</td>
            <td style="text-align: right;">{{item.Price}}</td>
            <td style="text-align: right;">{{item.TotalPrice}}</td>
            <td style="text-align: right;"><input type="text" class="text-left" name="Discount" [(ngModel)]="item.Discount" style="text-align: right;" (change)="catculateTotals()" /></td>
            <td style="text-align: right;">{{item.TpAfterDiscount}}</td>
            <td style="text-align: right;">{{item.TotalVAT}}</td>
            <td style="text-align: right;">{{item.TotalAmount}}</td>
        </tr>
        <tr>
            <th>
                <button (click)="add()" class="btn btn-success" *ngIf="oBill.JcId==0">Add</button>
                <button (click)="update()" class="btn btn-primary" *ngIf="oBill.JcId>0">Update</button>
            </th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th style="text-align: right;">Grand Total:</th>
            <th style="text-align: right;">{{GrandTotal}}</th>
        </tr>
    </table>
</div>