<!-- <p>invoice</p>
<img title="" src="/assets/invoice_sample.png" class="img-fluid" /> -->
<a href="javascript:void(0)" *ngIf="!isList" (click)="isList=true">Go to List</a>
<a href="javascript:void(0)" *ngIf="isList" (click)="isList=false">Go to Entry</a>
<div *ngIf="isList">
    <h4 class="text-center">Job-Card To Bill</h4>
    <table class="table table-bordered">
        <tr class="table-secondary">
            <th>#</th>
            <th scope="col">SL No.</th>
            <th>Job Card No.</th>
            <th>Vehicle Reg.</th>
            <th>Bay</th>
            <th>Client</th>
            <th>Date</th>
            <th>Status</th>
            <th>#</th>
        </tr>
        <tr *ngFor="let item of listJobCard; let i = index">
            <td><a href="javascript:void(0)" (click)="openWin()">View</a></td>
            <td>{{i+1}}</td>
            <td>{{item.JcNo}}</td>
            <td>{{item.VehicleNo}}</td>
            <td>{{item.Bay}}</td>
            <td>{{item.ClientId}}</td>
            <td>{{item.ReceiveDate}}</td>
            <td>OPEN</td>
            <td><button class="btn btn-sm btn-primary" (click)="createBill(item)">Create Bill</button></td>
        </tr>
    </table>
</div>
<div *ngIf="!isList">
    <h4 class="text-center">Create Bill</h4>
</div>