<!-- <p>invoice</p>
<img title="" src="/assets/invoice_sample.png" class="img-fluid" /> -->
<a href="javascript:void(0)" *ngIf="!isList" (click)="isList=true;get();">Go to List</a>
<!-- <a href="javascript:void(0)" *ngIf="isList" (click)="isList=false">Go to Entry</a> -->
<div *ngIf="isList">
    <h4 class="text-center">Bill Create</h4>
    <h5 class="text-center">(from job-card)</h5>
    <table class="table table-bordered">
        <tr class="table-secondary">
            <th>Action</th>
            <th scope="col">SL</th>
            <th>Job Card No.</th>
            <th>Vehicle Reg.</th>
            <th>Bay</th>
            <th>Client</th>
            <th>Date</th>
            <th>Estimated Cost</th>
            <th>Actual Cost</th>
            <th>Payment</th>
            <th>Status</th>
            <th>#</th>
        </tr>
        <tr *ngFor="let item of listJobCard; let i = index">
            <td><a href="javascript:void(0)" (click)="openWin()">View Job-Card</a></td>
            <td>{{i+1}}</td>
            <td>{{item.JcNo}}</td>
            <td>{{item.VehicleNo}}</td>
            <td>{{item.Bay}}</td>
            <td>{{item.ClientName}}</td>
            <td>{{item.ReceiveDate | date:'dd-MMM-yy HH:mm a'}}</td>
            <td>{{item.EstiCostTotal}}</td>
            <td>{{item.GrandTotal}}</td>
            <td>{{item.IsPaid == true ? 'Paid' : 'Due'}}</td>
            <td>{{item.JcStatus == 1 ? 'Close' : 'Open'}}</td>
            <td>
                <button class="btn btn-sm btn-primary" (click)="createBill(item)" *ngIf="item.IsInvoice==0">Create Bill</button>
                <button class="btn btn-sm btn-primary" (click)="editBill(item)" *ngIf="item.IsInvoice>0">Edit/View/Pay Bill</button>
            </td>
        </tr>
    </table>
</div>
<div *ngIf="!isList">
    <h4 class="text-center">Bill {{oBill.IsInvoice>0?'Update':'Create'}}</h4>
    <div class="row g-3">
        <div class="col-md-4">
          <strong>Client Name: </strong>{{oBill.ClientName}} <br />
          <strong>Address: </strong>{{oBill.ClientAddress}}
        </div>
        <div class="col-md-4">
            <strong>Job Card Number: </strong>{{oBill.JcNo}}
        </div>
    </div>
    <div class="row g-3">
      <div class="col-md-4"><h6>Bill Items</h6></div>
      <div class="col-md-4"><h6><strong>Balance:</strong>{{oBill.BalanceAmount}}</h6></div>
    </div>
    <table class="table table-bordered table-responsive">
        <tr>
            <th>#</th>
            <th>Item Type</th>
            <th style="text-align: right;">Qty</th>
            <th style="text-align: right;">Price</th>
            <th style="text-align: right;">Total Price</th>
            <th style="text-align: right;">Discount(<input type="text" [(ngModel)]="Discount" (change)="changeDiscount()" style="text-align: right;width: 50px;height: 30px;" />%)</th>
            <th style="text-align: right;">Total Price After Discount</th>
            <th style="text-align: right;">Total VAT ({{VAT}}%)</th>
            <th style="text-align: right;">Total Amount</th>
        </tr>
        <tr *ngFor="let item of listBillItem; let i = index">
            <td>{{i+1}}</td>
            <td>{{item.ItemType == 1 ? 'Job' : item.ItemType == 2 ? 'SP' : 'N/A'}}</td>
            <td style="text-align: right;">{{item.Qty}}</td>
            <td style="text-align: right;">{{item.UnitPrice}}</td>
            <td style="text-align: right;">{{item.TotalPrice}}</td>
            <td style="text-align: right;"><input type="text" name="Discount" [(ngModel)]="item.Discount" style="text-align: right;width: 50px;height: 30px;" (change)="calculateTotals()" /></td>
            <td style="text-align: right;">{{item.TpAfterDiscount}}</td>
            <td style="text-align: right;">{{item.TotalVat}}</td>
            <td style="text-align: right;">{{item.TotalAmount}}</td>
        </tr>
        <tr>
            <th>
                <button (click)="add()" class="btn btn-success" *ngIf="oBill.IsInvoice==0">Create Bill</button>
                <button (click)="update()" class="btn btn-primary" *ngIf="oBill.IsInvoice>0">Update Bill</button>
            </th>
            <th>
                <button (click)="viewBill()" class="btn btn-secondary" *ngIf="oBill.IsInvoice>0" href="javascript:void()">View Bill</button>
                <button (click)="payment()" class="btn btn-success" *ngIf="oBill.IsInvoice>0" href="javascript:void()" data-bs-toggle="modal" data-bs-target="#paymentModal">Pay Bill</button>
                <button class="btn btn-danger" *ngIf="oBill.IsInvoice>0" href="javascript:void()" data-bs-toggle="modal" data-bs-target="#paymentModal">Due Delivery</button>
            </th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th style="text-align: right;">Grand Total:</th>
            <th style="text-align: right;">{{oBill.GrandTotal}}</th>
        </tr>
    </table>
</div>

<div class="modal fade" id="paymentModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">
            Payment :: 
            <strong class="text-success">Job-Card No.: </strong><i>{{oBill.JcNo}}</i>&nbsp;&nbsp;
            <strong class="text-success">Client: </strong><i>{{oBill.ClientName}}</i>
            </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="row g-3">
              <div class="col-md-6">
                <label for="PayMethodId" class="form-label">Pay Type:</label>
                <select id="PayMethodId" class="form-control" [(ngModel)]="PayTran.PayMethodId">
                  <option *ngFor="let item of PayMethod" value="{{item.MethodId}}">{{item.Name}}</option>
                </select>
              </div>
              <div class="col-md-6">
                <label for="Amount" class="form-label">Amount:</label>
                <input type="text" id="Amount" [(ngModel)]="PayTran.Amount" class="form-control" style="text-align: right;" placeholder="amount" />
              </div>
              <div class="col-md-12">
                <label for="Remarks" class="form-label">Remarks:</label>
                <input type="text" id="Remarks" [(ngModel)]="PayTran.Remarks" class="form-control" placeholder="input a remarks if needed" />
              </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success" data-bs-dismiss="modal" (click)="pay();">Pay</button>
            <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>