<a href="javascript:void(0)" *ngIf="!isList;" (click)="isList=true;reset()">List</a>
<a href="javascript:void(0)" *ngIf="isList && authService.UserInfo.Menu.CanCreate" (click)="isList=false;reset();get()">New</a>
<div *ngIf="isList">
  <div class="row">
    <div class="col-lg-4">
        Show
        <select style="width: 50px;height: 32px;" [(ngModel)]="pageSize" (change)="search()">
            <option *ngFor="let item of listPageSize" value={{item}}>
                {{item}}
            </option>
        </select> 
        records
    </div>
    <div class="col-lg-4">
      <h4 class="text-center">List of Sales Price</h4>
    </div>
    <div class="col-lg-4">
        <table>
            <tr>
                <td>Phone: </td>
                <td>
                    <input type="text" [(ngModel)]="partNo" placeholder="part-no old/new" />
                    <button type="button" (click)="search()"><i class="fa fa-search"></i></button>
                </td>
            </tr>
        </table>
    </div>
  </div>
  <table class="table table-bordered">
    <tr class="table-secondary">
        <th scope="col">#</th>
        <th>Part-Name</th>
        <th>Sales Price</th>
        <th>Date</th>
        <th>#</th>
    </tr>
    <tr *ngFor="let item of listSalePrice; let i = index">
        <td>{{i+1}}</td>
        <td>{{item.ItemName}}</td>
        <td>{{item.SalePrice}}</td>
        <td>{{item.CreateDate}}</td>
        <td><button class="btn btn-sm btn-outline-primary" (click)="toAdd(item)" *ngIf="authService.UserInfo.Menu.CanEdit" >Edit</button></td>
    </tr>
  </table>
  <div class="row" *ngIf="listSalePrice.length>0">
    <div class="col-lg-12">
        <div class="pull-left ">
            <span class="well well-sm">Showing  <span class="text-success"><b>{{pageStart}}</b></span> to <span class="text-success"><b>{{pageEnd}}</b></span> of <span class="text-success"><b>{{rowCount}}</b></span> records</span>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="table-responsive">
            <ul class="pagination" *ngIf="pager.pages && pager.pages.length">
                <li>
                    <a class="btn btn-sm btn-outline-secondary" [ngClass]="{disabled:pageIndex == 0}" href="javascript:void(0);" (click)="changePageNumber(0)"><i class="fa fa-angle-double-left" aria-hidden="true"></i>Start</a>
                </li>
                <li>
                    <a class="btn btn-sm btn-outline-info" [ngClass]="{disabled:pageIndex == 0}" href="javascript:void(0);" (click)="changePageNumber(pageIndex - 1)"><i class="fa fa-angle-left" aria-hidden="true"></i>Previous</a>
                </li>
                <li *ngFor="let page of pager.pages">
                    <a class="btn btn-sm btn-outline-secondary" [ngClass]="{active:pageIndex == (page - 1)}" href="javascript:void(0);" (click)="changePageNumber(page - 1)">{{page}}</a>
                </li>
                <li *ngIf="pageDot">
                    <a class="btn btn-sm btn-outline-success"
                        href="javascript:void(0);" 
                        (click)="changePageNumber(pager.pages[pager.pages.length - 1])">
                        <i class="fa fa-ellipsis-h" aria-hidden="true"></i></a>
                </li>
                <li>
                    <a class="btn btn-sm btn-outline-info" [ngClass]="{disabled:pageIndex == (pager.totalPages - 1)}" href="javascript:void(0);" (click)="changePageNumber(pageIndex + 1)"><i class="fa fa-angle-right" aria-hidden="true"></i>Next</a>
                </li>
                <li>
                    <a class="btn btn-sm btn-outline-secondary" [ngClass]="{disabled:pageIndex == (pager.totalPages - 1)}" href="javascript:void(0);" (click)="changePageNumber(pager.totalPages - 1)"><i class="fa fa-angle-double-right" aria-hidden="true"></i>End</a>
                </li>
            </ul>
        </div>
    </div>
  </div>
</div>

<div *ngIf="!isList">
  <h4 class="text-center">Sales Price Entry</h4>
  <div class="row g-3">
    <div class="col-md-4">
        <label class="form-label" for="ItemName">Spare Parts Name: <a href="javascript:void()" data-bs-toggle="modal" data-bs-target="#searchItemNoModal">Search</a></label>
        <input type="text" id="ItemName" [(ngModel)]="oSalesPrice.ItemName" class="form-control" readonly />
    </div>
    <div class="col-md-4">
      <label class="form-label" for="SalePrice">Sales Price:</label>
      <input type="number" id="SalePrice" [(ngModel)]="oSalesPrice.SalePrice" class="form-control" style="text-align: right;" />
    </div>
    <!-- <div class="col-md-4">
      <label class="form-label" for="MinPurchasePrice">Min Purchase Price:</label>
      <input type="number" id="MinPurchasePrice" [(ngModel)]="oSalesPrice.MinPurchasePrice"  class="form-control" style="text-align: right;" readonly />
    </div>
    <div class="col-md-4">
        <label class="form-label" for="AvgPurchasePrice">Avg Purchase Price:</label>
        <input type="number" id="AvgPurchasePrice" [(ngModel)]="oSalesPrice.AvgPurchasePrice"  class="form-control" style="text-align: right;" readonly />
      </div>

      <div class="col-md-4">
        <label class="form-label" for="MaxPurchasePrice">Max Purchase Price:</label>
        <input type="number" id="MaxPurchasePrice" [(ngModel)]="oSalesPrice.MaxPurchasePrice"  class="form-control" style="text-align: right;" readonly />
      </div> -->
    <div class="col-md-12">
        <label class="form-label" for="Remarks">Remarks:</label>
        <input type="text" id="Remarks" [(ngModel)]="oSalesPrice.Remarks" class="form-control " />
    </div>
    <div class="col-md-12 mt-5">
      <button type="button" class="btn btn-success" *ngIf="oSalesPrice.Id==0 && authService.UserInfo.Menu.CanCreate" (click)="add();">Add</button>
    </div>
  </div>
</div>


<div class="modal fade" id="searchItemNoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-primary">Search A Spare Parts</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <div class="row g-3">
            <div class="col-md-4">
              <label class="form-label" for="itemValue">Part No:</label>
              <input type="text" id="itemValue" [(ngModel)]="partNo"  class="form-control" />
            </div>
            <div class="col-md-4 mt-5">
              <button type="button" class="btn btn-secondary" (click)="searchItem();">Search</button> 
            </div>
            <div class="col-md-12">
              <table class="table table-bordered">
                <tr class="table-secondary">
                    <th scope="col">#</th>
                    <th>Code</th>
                    <th>Part No Old</th>
                    <th>Part No New</th>
                    <th>Item</th>
                    <th>Brand</th>
                    <th>Sale Price</th>
                    <th>#</th>
                </tr>
                <tr *ngFor="let item of listItemS; let i = index">
                    <td>{{i+1}}</td>
                    <td>{{item.ItemCode}}</td>
                    <td>{{item.PartNoOld}}</td>
                    <td>{{item.PartNoNew}}</td>
                    <td>{{item.ItemName}}</td>
                    <td>{{item.BrandName}}</td>
                    <td>{{item.SalePrice}}</td>
                    <td><button class="btn btn-sm btn-primary" (click)="selectItem(item);" data-bs-dismiss="modal">Select</button></td>
                </tr>
              </table>
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>