<a href="javascript:void(0)" *ngIf="!isList" (click)="switchView('list')">Go to List</a>
<a href="javascript:void(0)" *ngIf="isList" (click)="switchView('form')">Go to Entry</a>
<div *ngIf="isList">
    <h4>List of Job-Group</h4>
    Show <select class="form-control" [(ngModel)]="pageSize" (change)="changePageSize()">
        <option *ngFor="let item of listPageSize" value={{item}}>
            {{item}}
        </option>
    </select> records
    <table class="table table-bordered">
        <tr class="table-secondary">
            <th>Job-Group ID</th>
            <th>Name</th>
            <th colspan="2">Action</th>
        </tr>
        <tr *ngFor="let item of listJobGroup">
            <td>{{item.GroupId}}</td>
            <td>{{item.Name}}</td>
            <td><button class="btn btn-sm btn-outline-primary" (click)="editJobGroup(item)">Edit</button></td>
            <td><button class="btn btn-sm btn-outline-danger" (click)="JobGroup=item" data-bs-toggle="modal"
                    data-bs-target="#confirmModal">Remove</button></td>
        </tr>
    </table>
    <div class="row" *ngIf="listJobGroup.length>0">
        <div class="col-lg-12 ">
            <div class="pull-left ">
                <span class="well well-sm">Showing  <span class="text-success"><b>{{pageStart}}</b></span> to <span class="text-success"><b>{{pageEnd}}</b></span> of <span class="text-success"><b>{{pageCount}}</b></span> records</span>
            </div>
            <div class="pull-right">
                <ul class="pagination">
                    <li>
                        <a class="btn btn-sm btn-outline-secondary" [ngClass]="{disabled:pager.currentPage === 1}" href="javaScript:void(0);" (click)="changePageNumber(0,true)"><i class="fa fa-angle-double-left" aria-hidden="true"></i>Start</a>
                    </li>
                    <li>
                        <a class="btn btn-sm btn-outline-info" [ngClass]="{disabled:pager.currentPage === 1}" href="javaScript:void(0);" (click)="changePageNumber(pager.currentPage - 1,true)"><i class="fa fa-angle-left" aria-hidden="true"></i>Previous</a>
                    </li>
                    <li *ngFor="let page of pager.pages">
                        <a class="btn btn-sm btn-outline-secondary" [ngClass]="{active:pager.currentPage === page}" href="javaScript:void(0);" (click)="changePageNumber(page,true)">{{page}}</a>
                    </li>
                    <li>
                        <a class="btn btn-sm btn-outline-info" [ngClass]="{disabled:pager.currentPage === pager.totalPages}" href="javaScript:void(0);" (click)="changePageNumber(pager.currentPage + 1,true)"><i class="fa fa-angle-right" aria-hidden="true"></i>Next</a>
                    </li>
                    <li>
                        <a class="btn btn-sm btn-outline-secondary" [ngClass]="{disabled:pager.currentPage === pager.totalPages}" href="javaScript:void(0);" (click)="changePageNumber(pager.totalPages,true)"><i class="fa fa-angle-double-right" aria-hidden="true"></i>End</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div *ngIf="!isList">
    <h4>Job-Group's Entry Form</h4>
    <div class="col-md 12">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="entryForm">
                    <div class="row">
                        <div class="form-floating mb-2">
                            <input type="text" [(ngModel)]="JobGroup.Name" class="form-control" id="Name"
                                placeholder="">
                            <label for="Name">Job Group Name</label>
                        </div>
                        <div class="col-auto  mb-2">
                            <button type="button" class="btn btn-success mb-3" *ngIf="JobGroup.GroupId==0"
                                (click)="addJobGroup()">Add Job Group</button>
                            <button type="button" class="btn btn-success mb-3" *ngIf="JobGroup.GroupId>0"
                                (click)="updateJobGroup()">Update</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>

<div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title text-primary">Are you sure to remove?</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body text-danger">
            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" (click)="reset();">No</button>/
            <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal" (click)="removeJobGroup(JobGroup)">Yes</button>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
</div>